<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Admin</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-adm.ejs') %>
    
</head>
<body>

    <%- include('../../partial/adm/sidebar.ejs') %>

    <div>
        <% result.forEach(item => { %>
            <p><%= item.nome_usuario %></p>
            <p><%= item.id_usuario %></p>
        <% }) %>
    </div>

    <script src="/JS/adm/resize.js"></script>
</body>
</html>