<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - admin</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-adm.ejs') %>
    <link rel="stylesheet" href="/CSS/adm/grid.css">
</head>
<body>

    <%- include('../../partial/adm/sidebar.ejs') %>

    <main class="content-container">
        
        <div class="header">
            <h1>Dúvidas</h1>
            <a href="/admin/ajuda/create">
                <img src="/imgs/adm/add.svg" alt="">
            </a>
        </div>

        <div class="grid">
            <% result.forEach(item => { %>
                <div class="grid-card">
                    <h2><%= item.titulo_duvida %></h2>
                    <p>Criada em: <%= item.data_duvida.toLocaleDateString() %></p>
                    <p><%= item.conteudo_duvida %></p>
                    <div class="actions">
                        <a href="/ajuda/<%= item.slug_duvida %>">
                            <img src="/imgs/adm/view.svg" alt="">
                        </a>
                        <a href="/admin/ajuda/update/<%= item.id_duvida %>">
                            <img src="/imgs/adm/update.svg" alt="">
                        </a>
                        <form class="delete-form" action="/admin/ajuda/delete/<%= item.id_duvida %>?_method=DELETE" method="post">
                            <button class="delete">
                                <img src="/imgs/adm/delete.svg" alt="">
                            </button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>

        <% if(paginador){ %>

            <div class="notificador">
                <ul>
                    <% for(var i=1; i <=paginador.total_paginas; i++){ 
                        if(paginador.pagina_atual==i){ 
                    %>
                        <li><a class="atual" href="?pagina=<%= i %>">
                                <%= i %>
                            </a>
                        </li>
                        <% } else { %>
                            <li><a href="?pagina=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                        <% } 
                    } %>
                </ul>
            </div>
            
        <% } %>
    </main>
    
    <script src="/JS/adm/sidebar.js"></script>
    <script src="/JS/quotes/delete-confirm.js"></script>
</body>
</html>