<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - admin</title>
    <!-- <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon"> -->
    <link rel="stylesheet" href="/CSS/adm/form.css">
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-adm.ejs') %>
</head>
<body>
    <%
        const customError = {}
        if (errors) {
            const keys = Object.keys(errors)
            keys.forEach(key => {
                if (errors[key]) {
                    customError[key] = {
                        class: 'error',
                        msg: errors[key].msg
                    }
                }
            })
            // console.log(customError)
        }
    %>

    <%- include('../../partial/adm/sidebar.ejs') %>

    <main class="content-container">
        <h1>Atualizar dúvida</h1>
        <form action="/admin/ajuda/update/<%= quotes?.id_duvida %>?_method=PUT" method="post">
            <%- include('../../partial/quotes/fields.ejs', { customError }) %>
        </form>
        
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: 'home' }) %>
    
    <script src="/JS/adm/sidebar.js"></script>

</body>
</html>