<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - admin</title>
    <!-- <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon"> -->
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-home.ejs') %>
    <style>
        .error {
            border-color: red;
        }
    </style>
</head>
<body>
    <%
        const customError = {}
        if (errors) {
            const keys = Object.keys(errors)
            keys.forEach(key => {
                if (errors[key]) {
                    customError[key] = {
                        class: 'error',
                        msg: errors[key].msg
                    }
                }
            })
            // console.log(customError)
        }
    %>

    <%- include('../../partial/header.ejs') %>

    <main style="color:#333; padding: 150px 20px 0;">
        <h1 style="margin-bottom: 15px;">Atualizar dúvida</h1>
        <form style="display: flex; flex-direction: column; gap: 8px;" action="/admin/ajuda/update/<%= quotes?.id_duvida %>?_method=PUT" method="post">
            <%- include('../../partial/quotes/fields.ejs', { customError }) %>
        </form>
        
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: 'home' }) %>
    
    <script src="/JS/burguer.js"></script>
    <script src="/JS/header-scroll.js"></script>
</body>
</html>