<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Dúvidas</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-home.ejs') %>
    <link rel="stylesheet" href="/CSS/quotes/main.css">

</head>

<body>
    <%- include('../../partial/header.ejs') %>

    <main>
        <h1 class="heading">Existe um limite de peso ou tamanho para os itens que posso enviar?</h1>
        <ol>
            <l1>Sim, em nossa plataforma, há geralmente limites de peso e tamanho para os itens que você pode enviar. Estes
                limites são estabelecidos pelo veículo escolhido para fazer a entrega. Entender esses limites é importante para
                garantir que suas entregas ocorram sem problemas. Abaixo, detalhamos como esses limites funcionam:</l1>
        </ol>
        <ol>
            <h4>Limites de Peso:</h4>
        </ol>
        <ol>
            <h4>● Peso Máximo:</h4>
            <l1> Geralmente, temos um peso máximo permitido para cada tipo de veículo. Por exemplo, em entregas de moto ou
                carro, o peso máximo permitido é menor do que em entregas feitas por veículos maiores (van e caminhão).</l1>
        </ol>
        <ol>
            <h4>● Verificação de Peso:</h4>
            <l1>Os entregadores são instruídos a verificar o peso das encomendas antes da coleta. Isso ajuda a garantir que os
                itens estejam dentro dos limites estabelecidos. Se um item exceder o peso máximo permitido, o entregador pode
                recusar a entrega ou solicitar assistência adicional.</l1>
        </ol>
        <h4>Verificação durante o Processo de Solicitação:</h4>
        <ol>
            <l1>Durante o processo de solicitação em nossa plataforma, você receberá informações claras sobre os limites de
                peso, ao escolher o veículo da entrega. Isso ajuda a garantir que você esteja ciente das restrições ao
                selecionar seus itens para entrega. Entender e respeitar os limites de peso e tamanho é importante para garantir
                uma experiência de entrega tranquila e eficaz.</l1>
        </ol>
    </main>

    <section class="contact">
        <h1 class="heading">Ainda não resolveu seu problema?</h1>
        <a href="/FaleConosco" class="cta">Fale Conosco</a>
    </section>

    <%- include('../../partial/footer.ejs') %>
    <%- include('../../partial/menu-burguer.ejs') %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/header-scroll.js"></script>
</body>
</html>