<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Dúvidas</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-home.ejs') %>
    <link rel="stylesheet" href="/CSS/quotes/main.css">

</head>

<body>
    <%- include('../../partial/header.ejs') %>

    <main>
        <h1 class="heading">Posso agendar uma entrega para um horário específico?</h1>
        <l1> Sim, oferecemos a opção de agendar entregas para horários específicos em nossa plataforma. Entendemos que a
            conveniência é fundamental para nossos clientes, e agendar uma entrega é uma maneira eficaz de garantir que ela
            ocorra no momento mais adequado para você.</l1>
        <ol>
            <li> Selecione a Opção de Agendamento:
                <ul>
                    <li>Durante o processo de solicitação, você terá a opção de escolher o horário e a data desejados para a
                        entrega. Essa opção está disponível após os detalhes da entrega (Local de partida e de destino).</li>
                </ul>
            </li>
            <li> Escolha o Horário Conveniente:
                <ul>
                    <li>Você poderá selecionar um dia e horário específico para a entrega.</li>
                </ul>
            </li>
            <ol>
                <h4>Benefícios do Agendamento de Entrega:</h4>
            </ol>
            <l1>● Conveniência:O agendamento de entrega permite que você escolha o momentomais conveniente para receber sua
                encomenda, evitando a necessidade de esperar em casa durante longos períodos. </l1>
        </ol>
        <ol>
            <l1> ● Planejamento: É útil para planejar entregas em datas específicas, como aniversários, eventos ou ocasiões
                especiais, garantindo que suas encomendas cheguem no momento certo. </l1>
        </ol>
        <ol>
            <l1> ● Flexibilidade: Você tem a flexibilidade de escolher entre diferentes horários de entrega com base em sua
                agenda e preferências pessoais. </l1>
        </ol>
    </main>

    <section class="contact">
        <h1 class="heading">Ainda não resolveu seu problema?</h1>
        <a href="/FaleConosco" class="cta">Fale Conosco</a>
    </section>

    <%- include('../../partial/footer.ejs') %>
    <%- include('../../partial/menu-burguer.ejs') %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/header-scroll.js"></script>
</body>
</html>