<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Cupons</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/client/cupons.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>
<body>
    <!-- Notificações -->
    <% if (msgs.length > 0) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('<%= msg.title %>', '<%= msg.description %>', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>
    
    <%- include('../../partial/header-client-shipper.ejs', { isClient: true }) %>

    <main>
        <section class="cupons">
            <h1>Cupons</h1>
            <form action="/cliente/cupons" method="POST" class="cupon-input">
                <input required name="codigo" placeholder="Digite o código do cupom de desconto" type="text" value="<%= valores?.codigo %>">
                <button class="cta">Enviar</button>
            </form>
            <p class="error"><%= erro_validacao?.codigo?.msg %></p>

            <form class="cupons-container">
                <span class="active-cupons">
                    <h2>Ativos</h2>
                    <% if (ativos.length > 0) { %>
                        <% ativos.forEach(cupom => { %>
                            <section class="cupon">
                                <section class="content">
                                    <figure class="icon">
                                        <img src="/imgs/client/icon-cupon.svg" alt="">
                                    </figure>
                                    <summary class="description">
                                        <h1><%= cupom.porcentagem_cupom %>% de desconto</h1>
                                    </summary>
                                </section>
                                <header class="expirate">
                                    <span><%= cupom.codigo_cupom %></span>
                                </header>
                            </section>
                        <% }) %>
                    <% } else { %>
                        <p>Nenhum cupom ativo</p>
                    <% } %>
                </span>
                <section class="disable-cupons">
                    <h2>Inativos</h2>
                    <header class="cupon">
                        <section class="content">
                            <figure class="icon">
                                <img src="/imgs/client/icon-cupon.svg" alt="">
                            </figure>
                            <summary class="description">
                                <h1>10% de desconto</h1>
                                <p>A partir de R$10,00</p>
                            </summary>
                        </section>
                        <header class="expirate">
                            <span>Vence em 22/10/2023</span>
                        </header>
                    </header>
                    <section class="cupon">
                        <section class="content">
                            <figure class="icon">
                                <img src="/imgs/client/icon-cupon.svg" alt="">
                            </figure>
                            <summary class="description">
                                <h1>10% de desconto</h1>
                                <p>A partir de R$10,00</p>
                            </summary>
                        </section>
                        <header class="expirate">
                            <span>Vence em 22/10/2023</span>
                        </header>
                    </section>
                    <section class="cupon">
                        <section class="content">
                            <figure class="icon">
                                <img src="/imgs/client/icon-cupon.svg" alt="">
                            </figure>
                            <summary class="description">
                                <h1>10% de desconto</h1>
                                <p>A partir de R$10,00</p>
                            </summary>
                        </section>
                        <header class="expirate">
                            <span>Vence em 22/10/2023</span>
                        </header>
                    </section>
                    <section class="cupon">
                        <section class="content">
                            <figure class="icon">
                                <img src="/imgs/client/icon-cupon.svg" alt="">
                            </figure>
                            <summary class="description">
                                <h1>10% de desconto</h1>
                                <p>A partir de R$10,00</p>
                            </summary>
                        </section>
                        <header class="expirate">
                            <span>Vence em 22/10/2023</span>
                        </header>
                    </section>
                </section>
            </form>
        </section>
        <section class="invite-friends">
            <h1>Convide seus amigos</h1>
            <p>Convidando um amigo, você e ele ganham desconto na próxima entrega.</p>
            <section class="cupon-input">
                <input class="paste-input" readonly type="text" value="<%= compartilhamento.codigo_cupom %>">
                <button class="cta paste-cupon" type="button">Copiar</button>
            </section>
            <section class="social-media">
                <!-- <figure class="icon twitter">
                    <img src="/imgs/client/icon-twitter.svg" alt="">
                </figure> -->
                <a href="https://wa.me/?text=Use meu cupom <%= compartilhamento.codigo_cupom %> e ganhe desconto na sua entrega com a Fretus" target="_blank" class="icon whatsapp">
                    <img src="/imgs/client/icon-whatsapp.svg" alt="">
                </a>
                <a href="https://www.facebook.com/?locale=pt_BR" target="_blank" class="icon facebook">
                    <img src="/imgs/client/icon-facebook.svg" alt="">
                </a>
            </section>
        </section>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: 'client' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/client/paste-cupon.js"></script>
</body>
</html>