<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Pagamento</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/client/payment-feedback.css">
</head>
<body>

    <%- include('../../partial/header-client-shipper.ejs', { isClient: true }) %>

    <div class="payment-feedback">
        <% if (approved) { %>
            <img class="feedback-img" src="/imgs/client/check-round-icon.svg" alt="">
            <h1 class="feedback-title">Pagamento Aprovado</h1>
            <p class="feedback-text" style="margin-bottom: 5px;">
                Parabéns, seu pagamento foi efetuado com sucesso. Agora você pode conversar com o entregador, visualizar o status da entrega em tempo real, e muito mais
            </p>
            <a href="/cliente/historico" style="color: var(--orange); text-decoration: underline; font-weight: bold; font-size: 18px">Acompanhe sua entrega</a>
        <% } else { %>
            <img class="feedback-img" src="/imgs/client/error-round-icon.svg" alt="">
            <h1 class="feedback-title">Algo deu errado</h1>
            <% if (error) { %>
                <p class="feedback-text"><%= error %></p>
            <% } else { %>
                <p class="feedback-text">
                    Não foi possível efetuar seu pagamento. <br>
                    <a class="feedback-link" href="/cliente/pagamento/<%= pedido.id_pedido %>">Tente novamente.</a>
                </p>
            <% } %>
        <% } %>
    </div>

    <%- include('../../partial/menu-burguer.ejs', { type: 'client' }) %>

    <script src="/JS/burguer.js"></script>
</body>
</html>