<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Histórico</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/client/price-indicator.css">
    <link rel="stylesheet" href="/CSS/client/shipper-carousel.css">
    <link rel="stylesheet" href="/CSS/shipper/history.css">
    <link rel="stylesheet" href="/CSS/shipper/requests.css">
    <link rel="stylesheet" href="/CSS/shipper/empty-alert.css">
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="/CSS/client/rate-popup.css">
    <link rel="stylesheet" href="/CSS/shipper/requests-modal.css">
    <link rel="stylesheet" href="/CSS/shipper/requests-notification.css">
    <link rel="stylesheet" href="/CSS/client/pay-popup.css">
    <link rel="stylesheet" href="/CSS/client/report-popup.css">
    <link rel="stylesheet" href="/CSS/client/location-popup.css">

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet'/>
    
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>

<body>

    <%- include('../../partial/header-client-shipper.ejs', { isClient: true }) %>

    <!-- Notificações -->
    <% if (msgs.length > 0) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('<%= msg.title %>', '<%= msg.description %>', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>

    <main>
        <section class="history-header">
            <h1>Histórico</h1>
            <% if (pedidos.length >= 4) { %>
                <a href="/cliente/historico-completo">Ver Mais</a>
            <% } %>
        </section>

        <section class="requests-container">
            <% if (pedidos.length > 0) { %>
                <% pedidos.forEach(pedido => { %>
                    <article class="card">
                        <section class="top">
                            <summary class="row">
                                <img src="/imgs/shipper/partida-icon.svg" alt="">
                                <span class="address-name"><%= pedido.partida_pedido %></span>
                            </summary>
                            <aside class="row track">
                                <img src="/imgs/shipper/track.png" alt="">
                            </aside>
                            <summary class="row">
                                <img src="/imgs/shipper/destino-icon.svg" alt="">
                                <span class="address-name"><%= pedido.destino_pedido %></span>
                            </summary>
                        </section>
                        <section class="description">
                            <p>
                                <span class="description-title">Carga:</span>
                                <% if (pedido.cod_carga == 'P') { %>
                                    Pequena (até 11,5 Kg)
                                <% } else if (pedido.cod_carga == 'M') { %>
                                    Média (11,5 Kg até 80 Kg)
                                <% } else { %>
                                    Grande (80 Kg em diante)
                                <% } %>
                            </p>
                            <p><span class="description-title">Agendamento:</span> <%= pedido.agendamento == 0 ? 'Entrega Imediata' : 'Entrega Agendada' %></p>
                        </section>
                        <summary class="bottom">
                            <span class="price">
                                <% if (pedido.porcentagem_cupom == null) { %>
                                    <%= new Intl.NumberFormat('pt-br', {currency: 'BRL', style: 'currency'}).format(pedido.preco_pedido) %>
                                <% } else { %>
                                    <%= new Intl.NumberFormat('pt-br',{currency: 'BRL', style: 'currency'}).format(pedido.preco_pedido - ((pedido.porcentagem_cupom / 100) * pedido.preco_pedido)) %> 
                                <% } %>
                            </span>
                            <span class="actions">
                                <% if (pedido?.estado_pagamento == 'aprovado') { %>
                                    <img class="location-call" src="/imgs/client/location-icon.svg" alt="" data-id-pedido="<%= pedido.id_pedido %>" data-partida="<%= pedido.longitude_partida %>,<%= pedido.latitude_partida %>" data-destino="<%= pedido.longitude_destino %>,<%= pedido.latitude_destino %>">
                                    <% if (pedido?.id_denunciado == null) { %>
                                        <img class="report-call" src="/imgs/client/report-icon.svg" alt="" data-id-entregador="<%= pedido.id_entregador %>">
                                    <% } %>
                                    <form action="/cliente/favoritar-desfavoritar/<%= pedido?.id_entregador %>" method="POST">
                                        <button class="accept-btn">
                                            <% if (pedido?.id_favoritou == null) { %>
                                                <img class="fav-call" src="/imgs/client/fav-icon.svg" alt="">
                                            <% } else { %>
                                                <img class="fav-call" src="/imgs/client/unfav-icon.svg" alt="">
                                            <% } %>
                                        </button>
                                    </form>
                                    <% if (pedido.status_finalizacao == 'finalizado' && pedido?.id_avaliacao == null) { %>
                                        <img class="rate-call" src="/imgs/client/star-icon.svg" alt="" data-id-pedido="<%= pedido.id_pedido %>">
                                    <% } %>
                                <% } else if (pedido.id_entregador) { %>
                                    <% if (pedido.porcentagem_cupom != null) { %>
                                        <form action="/cliente/desativar-cupom/<%= pedido.id_cupom %>/<%= pedido.id_pedido %>" method="POST">
                                            <button class="accept-btn">
                                                <img title="Retirar cupom" src="/imgs/client/icon-cupon-close.svg" alt="">
                                            </button>
                                        </form>
                                    <% } %>
                                    <a href="/cliente/pagamento/<%= pedido.id_pedido %>">
                                        <img src="/imgs/client/pay-icon.svg" alt="">
                                    </a>
                                <% } else { %>
                                    <% if (pedido.porcentagem_cupom != null) { %>
                                        <form action="/cliente/desativar-cupom/<%= pedido.id_cupom %>/<%= pedido.id_pedido %>" method="POST">
                                            <button class="accept-btn">
                                                <img title="Retirar cupom" src="/imgs/client/icon-cupon-close.svg" alt="">
                                            </button>
                                        </form>
                                    <% } %>
                                    <a href="/cliente/escolher-entregador/<%= pedido.id_pedido %>">
                                        <img src="/imgs/client/check-icon.svg" alt="">
                                    </a>
                                <% } %>
                            </span>
                        </summary>
                        <aside class="details">
                            <span class="indicator">i</span>
                        </aside>
                    </article>
                <% }) %>
            <% } %>
        </section>
        <article class="empty-alert">
            <img src="/imgs/shipper/error-icon.png" alt="">
            <p>Você ainda não solicitou nenhuma entrega</p>
        </article>

        <section class="product-wrapper">
            <section class="head">
                <h1>Entregadores Favoritados</h1>
                <aside class="controls">
                    <span id="prev"> < </span>
                    <span id="next"> > </span>
                </aside>
            </section>

            <section class="carousel">
                <section class="content">
                    <% if (favoritados.length > 0) { %>
                        <% favoritados.forEach(favoritado => { %>
                            <article class="products">
                                <img src="data:image/png;base64,<%= favoritado.foto_de_perfil.toString('base64') %>" alt="" class="photo">
                                <h1><%= favoritado.nome_usuario %></h1>
                                <p><%= favoritado.descricao_usuario %></p>
                                <aside class="actions">
                                    <form action="/cliente/favoritar-desfavoritar/<%= favoritado.id_usuario %>" method="POST">
                                        <button class="accept-btn">
                                            <img class="unfav-call" src="/imgs/client/unfav-icon.svg" alt="">
                                        </button>
                                    </form>
                                </aside>
                            </article>
                        <% }) %>
                    <% } %>
                </section>
                <article class="empty-alert">
                    <img src="/imgs/shipper/error-icon.png" alt="">
                    <p>Você não favoritou nenhum entregador</p>
                </article>
            </section>
        </section>
    </main>

    <!-- <section class="notification-container"></section> -->

    <!-- Popup's -->
    <% if (pedidos.length > 0) { %>
        <% pedidos.forEach(pedido => { %>
            <%- include('../../partial/popup/info.ejs', { pedido }) %>
        <% }) %>
    <% } %>
            
    <%- include('../../partial/popup/rate.ejs') %>
    <%- include('../../partial/popup/report.ejs') %>
    <%- include('../../partial/popup/location.ejs') %>
    <%- include('../../partial/menu-burguer.ejs', { type: 'client' }) %>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        socket.emit('connect new status', { id_usuario: '<%= autenticado.id %>' })
    </script>
    <script src="/JS/burguer.js"></script>
    <script src="/JS/client/shipper-carousel.js"></script>
    <script src="/JS/client/rate-popup.js"></script>
    <!-- <script src="/JS/client/fav-unfav.js"></script> -->
    <script src="/JS/shipper/popup-info.js"></script>
    <script src="/JS/shipper/popup-location.js"></script>
    <script src="/JS/shipper/report-popup.js"></script>
</body>

</html>