<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Perfil</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/shipper/config.css">
    <link rel="stylesheet" href="/CSS/shipper/requests-modal.css">
    <link rel="stylesheet" href="/CSS/shipper/profile.css">
</head>

<body>

    <%- include('../../partial/header-client-shipper.ejs', { isClient: true, autenticado: autenticado }) %>

    <main>
        <div class="profile-container">

            <form class="form-perfil" action="/cliente/perfil/<%= result.id_usuario %>?_method=PUT" method="post">

                <div class="Seu-Perfil">
                    <h2>Seu Perfil</h2>
                </div>
                <div class="action-perfil">
                    <label class="action__upload-btn" for="img-selector">Alterar sua foto de perfil</label>
                    <input type="file" name="" id="img-selector" class="action__hiddenField js__profile-upload-btn">
                </div>
                <div class="profile-p">
                    <div class="profile__image js__profile-image"
                        style="background-image:url(https://via.placeholder.com/300x300/cccccc/666666/?text=Fretus)">
                    </div>
                </div>

                <div class="row">
                    <label for="name">Nome: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input class="input-field" type="text" placeholder="Digite aqui seu nome" readonly id="name" name="nome" value="<%= result.nome_usuario %>">
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                </div>
                <div class="row">
                    <label for="name">Email: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input class="input-field" type="text" placeholder="Digite aqui seu email" readonly id="email" name="email" value="<%= result.email_usuario %>">
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                </div>
                <div class="row">
                    <label for="name">Número: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input class="input-field" type="text" placeholder="Digite aqui sua telefone" readonly id="number" name="telefone" maxlength="15" value="<%= result.telefone_usuario %>">
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                </div>
                <div class="row">
                    <label for="name">Descricao: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <textarea class="input-field" placeholder="Digite aqui sua descrição" readonly id="descricao" name="descricao"><%= result.descricao_usuario %></textarea>
                            <span class="count">0/200</span>
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                </div>
            </form>
        <div class="containerm-p">
            <p>
                Precisa de ajuda? Entre em contato com a
                <a href="/ajuda">Central de Ajuda.</a>
            </p>
        </div>
    </main>

        <%- include('../../partial/menu-burguer.ejs', { type: 'client' }) %>

        <script src="/JS/burguer.js"></script>
        <!-- alterar valores input -->
        <script src="/JS/shipper/change.js"></script>
        <!-- resize textarea -->
        <script src="/JS/shipper/profile.js"></script>
        <!-- foto perfil -->
        <script src="/JS/perfil.js"></script>
</body>

</html>