<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Solicitar Entrega</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet'/>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/client/delivery-request.css">
    <link rel="stylesheet" href="/CSS/client/delivery-request-suggestions.css">
    <link rel="stylesheet" href="/CSS/client/delivery-request-carousel.css">
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="/CSS/client/delivery-request-mobile.css">
    <link rel="stylesheet" href="/CSS/client/price-indicator.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>
<body>
    
    <%- include('../../partial/header-client-shipper.ejs', { isClient: true }) %>

    <!-- Notificações -->
    <% if (msgs.length > 0 && autenticado == null) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('<%= msg.text %>', 'Bem-vindo a Fretus', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>
    
    <% if (autenticado) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('Olá, <%= autenticado.autenticado %>', 'Bem-vindo de volta', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>

    <main>
        <section class="form">
            <section class="form-wrapper">
                <form class="form-container">
                    <h1>Solicitar Entrega</h1>
                    <input type="text" required="" class="address start" placeholder="Local de partida">
                    <aside class="suggestions">
                        <ul class="suggestions-options"></ul>
                    </aside>
                    <input type="text" required="" class="address end" placeholder="Local de destino">
                    <aside class="suggestions">
                        <ul class="suggestions-options"></ul>
                    </aside>
                    <h2>Agendamento</h2>
                    
                    <section class="toogle-container">
                        <span>Entrega Imediata</span>
                        <input type="checkbox" name="schedule" id="schedule">
                        <label for="schedule" class="toogle">
                            <article class="ball"></article>
                        </label>
                        <span>Agendar Entrega</span>
                    </section>
                    <section class="schedules-container">
                        <aside class="schedule-content">
                            <input type="date" class="date-time">
                            <input type="time" class="date-time">
                        </aside>
                    </section>
                    
                    <section class="weight-container">
                        <h2>Carga</h2>
                        <div class="content">
                            <input required type="radio" name="weight" id="s">
                            <label for="s">
                                <article class="card">
                                    <img src="/imgs/client/small-icon.svg" alt="">
                                    <h2>Pequena</h2>
                                </article>
                            </label>
                            <input type="radio" name="weight" id="m">
                            <label for="m">
                                <article class="card">
                                    <img src="/imgs/client/medium-icon.svg" alt="">
                                    <h2>Média</h2>
                                </article>
                            </label>
                            <input type="radio" name="weight" id="l">
                            <label for="l">
                                <article class="card">
                                    <img src="/imgs/client/large-icon.svg" alt="">
                                    <h2>Grande</h2>
                                </article>
                            </label>
                        </div>
                    </section>

                    <section class="vehicles-container">
                        <h2>Veículos</h2>
                        <section class="content">
                            <input data-index="0" required type="radio" name="vehicles" id="bike">
                            <label for="bike">
                                <article class="card">
                                    <img src="/imgs/client/Solicitar/icons8-motocicleta-50.png" alt="">
                                    <h2>Moto</h2>
                                </article>
                            </label>
                            <input data-index="1" type="radio" name="vehicles" id="car">
                            <label for="car">
                                <article class="card">
                                    <img src="/imgs/client/Solicitar/icons8-carro-50.png" alt="">
                                    <h2>Carro</h2>
                                </article>
                            </label>
                            <input data-index="2" type="radio" name="vehicles" id="van">
                            <label for="van">
                                <article class="card">
                                    <img src="/imgs/client/Solicitar/icons8-van-50.png" alt="">
                                    <h2>Van</h2>
                                </article>
                            </label>
                            <input data-index="3" type="radio" name="vehicles" id="truck">
                            <label for="truck">
                                <article class="card">
                                    <img src="/imgs/client/Solicitar/icons8-semi-truck-side-view-50.png " alt="">
                                    <h2>Caminhão</h2>
                                </article>
                            </label>
                        </section>
                    </section>
                    <input type="submit" value="Continuar" class="cta">
                </form>
            </section>
        </section>

        <section class="map access" id="map"></section>
        <section class="return-form">
            <img src="/imgs/burguer-config-icon.png" alt="">
        </section>

        <section class="popup">
            <article class="popup-content">
                <div class="close">
                    <img src="/imgs/client/close-icon.svg" alt="">
                </div>
                <article class="popup-wrapper">
                    <h1>Preço Sugerido: <span class="price"></span><a href="#" class="indicator">?</a></h1>
                    <p>Você pode escolher negociar esse preço com o entregador. Essa escolha aparecerá para o entregador, que poderá ou não negociar com você. A negociação será feita pelo chat, e não nos responsabilizamos por nada disso.</p>
                    <aside class="confirm">
                        <input type="checkbox" name="confirm-negotiation" id="confirm-negotiation">
                        <label for="confirm-negotiation">Entendo essas condições e desejo negociar o preço.</label>
                    </aside>
                    <a href="#" id="continue-button" class="cta">Continuar</a>
                </article>
            </article>
        </section>

        <!-- todo: tela de carrregamento  -->

        <section class="loader-container" id="loader-container">
            <article class="loader-content">
                <aside class="loader"></aside>
                <h2 class="loader-message">Por Favor, Aguarde</h2>
                <p class="loader-message">Em busca de motoristas disponíveis...</p>
            </article>
        </section>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: 'client' }) %>

    <script src="/JS/burguer.js"></script>
    <!-- <script src="/JS/client/vehicles-carousel.js"></script> -->
    <script src="/JS/client/geolocation.js"></script>
    <script src="/JS/client/popup-confirm.js"></script>
    <script src="/JS/client/weight-validation.js"></script>
    <script src="/JS/client/carregamento.js"></script>
</body>
</html>