<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Solicitar Entrega</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet'/>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/client/delivery-request.css">
    <link rel="stylesheet" href="/CSS/client/delivery-request-suggestions.css">
    <link rel="stylesheet" href="/CSS/client/delivery-request-carousel.css">
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="/CSS/client/delivery-request-mobile.css">
    <link rel="stylesheet" href="/CSS/client/price-indicator.css">
    <link rel="stylesheet" href="/CSS/client/load-price.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>
<body>
    
    <%- include('../../partial/header-client-shipper.ejs', { isClient: true }) %>

    <!-- Notificações -->
    <% if (msgs.length > 0) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('<%= msg.title %>', '<%= msg.description %>', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>

    <main>
        <section class="form <%= loading ? 'mobile' : '' %>">
            <section class="form-wrapper">
                <form action="/cliente/solicitar-entrega" method="post" class="form-container">
                    <h1>Solicitar Entrega</h1>
                    <input class="hidden-coords" type="hidden" name="partida_coords" value="<%= dados?.partida_coords %>">
                    <input name="partida" type="text" required="" value="<%= erros?.partida_coords ? '' : dados?.partida %>" class="address start" placeholder="Local de partida" autocomplete="off">
                    <aside class="suggestions">
                        <ul class="suggestions-options"></ul>
                    </aside>
                    <span class="error margin"><%= erros?.partida_coords?.msg %></span>
                    <span class="error margin"><%= erros?.partida?.msg %></span>

                    <input class="hidden-coords" type="hidden" name="destino_coords" value="<%= dados?.destino_coords %>">
                    <input name="destino" type="text" required="" value="<%= erros?.destino_coords? '' : dados?.destino %>" class="address end" placeholder="Local de destino" autocomplete="off">
                    <aside class="suggestions">
                        <ul class="suggestions-options"></ul>
                    </aside>
                    <span class="error margin"><%= erros?.destino_coords?.msg %></span>
                    <span class="error margin"><%= erros?.destino?.msg %></span>

                    <h2>Agendamento</h2>
                    
                    <section class="toogle-container">
                        <span>Entrega Imediata</span>
                        <input type="checkbox" name="agendamento" id="schedule" value="1" <%= dados?.agendamento ? 'checked' : '' %>>
                        <label for="schedule" class="toogle">
                            <article class="ball"></article>
                        </label>
                        <span>Agendar Entrega</span>
                    </section>
                    <section class="schedules-container">
                        <aside class="schedule-content">
                            <input name="data_agendamento" type="date" class="date-time" value="<%= dados?.data_agendamento %>">
                            <span class="error margin"><%= erros?.data_agendamento?.msg %></span>
                            <input name="hora_agendamento" type="time" class="date-time" value="<%= dados?.hora_agendamento %>">
                            <span class="error margin"><%= erros?.hora_agendamento?.msg %></span>
                        </aside>
                    </section>
                    
                    <section class="weight-container">
                        <section class="flex-indicator">
                            <h2>Carga</h2> 
                            <section>
                                <a class="indicator" href="/ajuda/informacoes-detalhadas-sobre-pesos-e-dimensoes-das-cargas">i</a>
                            </section>
                        </section>
                        <div class="content">
                            <input required type="radio" name="carga" value="P" id="s" <%= dados?.carga == 'P' ? 'checked' : '' %>>
                            <label for="s">
                                <article class="card">
                                    <section class="box-card-car">
                                        <section class="box-card-img">
                                            <img src="/imgs/client/small-icon.svg" alt="">
                                        </section>
                                        <section class="carga_box">
                                            <h2 style="margin-bottom: 4px;">Pequena</h2>   
                                                <span><b>Peso:</b> até 11,5 Kg</span>
                                                <span><b>Dimensões:</b> até 20x10cm</span>
                                        </section>
                                    </section>
                                </article>
                            </label>
                            <input type="radio" name="carga" value="M" id="m" <%= dados?.carga == 'M' ? 'checked' : '' %>>
                            <label for="m">
                                <article class="card">
                                    <section class="box-card-car">
                                        <section class="box-card-img">
                                            <img src="/imgs/client/medium-icon.svg" alt="">
                                        </section>
                                        
                                        <section class="carga_box">
                                            <h2 style="margin-bottom: 4px;">Média</h2> 
                                                <span><b>Peso:</b>11,5 Kg até 80 Kg</span>
                                                <span><b>Dimensões:</b> de 20x10cm até 60x70cm</span>
                                        </section>
                                    </section>
                                </article>
                            </label>
                            <input type="radio" name="carga" value="G" id="l" <%= dados?.carga == 'G' ? 'checked' : '' %>>
                            <label for="l">
                                <article class="card">
                                    <section class="box-card-car">
                                        <section class="box-card-img">
                                            <img src="/imgs/client/large-icon.svg" alt="">
                                        </section>
                                        <section class="carga_box">
                                            <h2 style="margin-bottom: 4px;">Grande</h2>
                                            <span><b>Peso:</b> 80 Kg em diante</span>
                                            <span><b>Dimensões:</b> 60x70cm em diante</span>
                                        </section>
                                </section>
                                </article>
                            </label>
                        </div>
                        <span class="error"><%= erros?.carga?.msg %></span>
                    </section>

                    <section class="vehicles-container">
                        <h2>Veículos</h2>
                        <section class="content">
                            <input data-index="0" required type="radio" name="veiculo" value="moto" id="bike" <%= dados?.veiculo == 'moto' ? 'checked' : '' %>>
                            <label for="bike">
                                <article class="card flex">
                                    <img src="/imgs/client/Solicitar/icons8-motocicleta-50.png" alt="">
                                    <h2>Moto</h2>
                                </article>
                            </label>
                            <input data-index="1" type="radio" name="veiculo" value="carro" id="car" <%= dados?.veiculo == 'carro' ? 'checked' : '' %>>
                            <label for="car">
                                <article class="card flex">
                                    <img src="/imgs/client/Solicitar/icons8-carro-50.png" alt="">
                                    <h2>Carro</h2>
                                </article>
                            </label>
                            <input data-index="2" type="radio" name="veiculo" value="van" id="van" <%= dados?.veiculo == 'van' ? 'checked' : '' %>>
                            <label for="van">
                                <article class="card flex">
                                    <img src="/imgs/client/Solicitar/icons8-van-50.png" alt="">
                                    <h2>Van</h2>
                                </article>
                            </label>
                            <input data-index="3" type="radio" name="veiculo" value="caminhao" id="truck" <%= dados?.veiculo == 'caminhao' ? 'checked' : '' %>>
                            <label for="truck">
                                <article class="card flex">
                                    <img src="/imgs/client/Solicitar/icons8-semi-truck-side-view-50.png " alt="">
                                    <h2>Caminhão</h2>
                                </article>
                            </label>
                        </section>
                        <span class="error"><%= erros?.veiculo?.msg %></span>
                    </section>

                    <% if (cupons.length > 0) { %>
                        <section>
                            <h2>Cupons</h2>
                            <select class="select-cupon" name="cupon">
                                <option value="">Selecione o cupom</option>
                                <% cupons.forEach(cupom => { %>
                                    <option <%= dados?.cupon == cupom.id_cupom ? 'selected' : '' %> value="<%= cupom.id_cupom %>"><%= cupom.porcentagem_cupom %>% de desconto - <%= cupom.codigo_cupom %></option>
                                <% }) %>
                            </select>
                        </section>
                    <% } %>

                    <input type="submit" value="Continuar" class="cta entrega-submit">
                </form>
            </section>
        </section>

        <section class="map access <%= loading ? 'mobile' : '' %>" id="map"></section>
        <section class="return-form <%= loading ? 'show' : '' %>">
            <img src="/imgs/burguer-config-icon.png" alt="">
        </section>

        <section class="popup">
            <article class="popup-content">
                <div class="close">
                    <img src="/imgs/client/close-icon.svg" alt="">
                </div>
                <article class="popup-wrapper">
                    <h1>
                        Preço do seu pedido:
                        <% if (loading) { %>
                            <span><%= new Intl.NumberFormat('pt-br', {currency: 'BRL', style: 'currency'}).format(preco) %></span>
                        <% } else { %>
                            <span class="price"></span>
                            <span class="load-price"></span>
                        <% } %>
                    </h1>
                    <p>O preço da entrega é calculado com base em diversos fatores para garantir que você receba seus produtos de maneira eficiente e econômica.</p>
                    <!-- <aside class="confirm">
                        <input type="checkbox" name="confirm-negotiation" id="confirm-negotiation">
                        <label for="confirm-negotiation">Entendo essas condições e desejo negociar o preço.</label>
                    </aside> -->
                    <button id="continue-button" class="cta">Continuar</a>
                </article>
            </article>
        </section>

        <% if (loading) { %>
            <section class="loader-container" id="loader-container">
                <article class="loader-content">
                    <div class="close">
                        <img src="/imgs/client/close-icon.svg" alt="">
                    </div>
                    <aside class="loader"></aside>
                    <h2 class="loader-message">Por Favor, Aguarde</h2>
                    <p class="loader-message">Em busca de motoristas disponíveis...</p>
                </article>
            </section>
        <% } %>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: 'client' }) %>

    <% 
        const porcentagens = []
        cupons.forEach(element => {
            porcentagens.push(element.porcentagem_cupom)
        })
    %>
    <script>
       const porcentagens = '<%= porcentagens %>'.split(',')
       porcentagens.unshift('')
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/JS/burguer.js"></script>
    <!-- <script src="/JS/client/vehicles-carousel.js"></script> -->
    <script src="/JS/client/geolocation.js"></script>
    <!-- seta o preço -->
    <script src="/JS/client/popup-confirm.js"></script>
    <!-- valida a carga -->
    <script src="/JS/client/weight-validation.js"></script>
    <!-- valida o agendamento -->
    <script src="/JS/client/agendamento-validation.js"></script>
    <!-- envia formulario -->
    <script src="/JS/client/carregamento.js"></script>
    <% if (loading) { %>
        <script>
            const socket = io()
            socket.emit('connect new client', { id_usuario: '<%= autenticado.id %>' })
            const id_pedido = '<%= id_pedido %>'
        </script>
        <!-- redireciona quando entregador aceita pedido -->
        <script src="/JS/client/pedido-aceito.js"></script>
    <% } %>
</body>
</html>