<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/adm/FaleConoscoADM/faleconoscoadm.css">

    <%- include('../../../partial/config/config.ejs') %>
        <%- include('../../../partial/config/config-adm.ejs') %>

            <link rel="stylesheet" href="/CSS/adm/CadastroAdm/cadastroadm.css">
            <link rel="stylesheet" href="/CSS/client/confirm-popup.css">


</head>

<body>


    <%- include('../../../partial/adm/sidebar.ejs') %>
        <main>
            <div class="MensagerBox">
                <h1>
                    Mensagens - Fale Conosco
                </h1>
            </div>
            <section class="flex">
                
            <% mensagem.forEach(user=> { %>
                <section class="ContainerMensgns">
                    <section>
                        <span style="font-size: 1.7rem;"><b>Assunto:</b> <%= user.assunto %>
                        </span><br><br>
                            <span><b>Mensagem:</b>
                                <%= user.mensagem %>
                            </span>
                    </section> <br>
                    <section class="MensgnsBTN">
                        <button class="indicator">Detalhes</button>
                        <!-- <button>Responder</button> -->
                    </section>
                </section> <br>

                <% }) %>
            </section> <br><br>

            <!-- Popup detalhes -->
            <% mensagem.forEach(mensagem => { %>
                <section class="popup info">
                    <article class="popup-content">
                        <article class="close">
                            <img src="/imgs/client/close-icon.svg" alt="">
                        </article>
                        <section class="popup-wrapper" style="row-gap: 10px;">
                            <span><b>De:</b> <%= mensagem.email_usuario %> - <%= mensagem.nome_usuario %></span>
                            <span><b>para:</b> FreetusEmpresa@gmail.com</span>
                            <span><b>Assunto:</b> <%= mensagem.assunto %></span>
                            <span><b>Mensagem:</b> <%= mensagem.mensagem %></span>
                        </section>
                    </article>
                </section>
            <% }) %>

            <% if(paginador){ %>
                <div class="notificador">
                    <ul>
                        <% for(var i=1; i <= paginador.total_paginas; i++){ 
                            if(paginador.pagina_atual == i){ 
                        %>
                            <li><a class="atual" href="?pagina=<%= i %>"><%= i %></a></li>
                        <% } else { %>
                            <li><a href="?pagina=<%= i %>"><%= i %></a></li>
                        <% } 
                        } %>
                    </ul>
                </div>
            <% } %>

        </main>
        <script src="/JS/adm/sidebar.js"></script>
        <script src="/JS/adm/popup-mensagens.js"></script>

</body>

</html>