<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Entregas Solicitadas</title>

    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>

    <!-- ! ver se vai ser alterado  -->

    <link rel="stylesheet" href="/CSS/client/price-indicator.css">
    <link rel="stylesheet" href="/CSS/shipper/requests.css">
    <link rel="stylesheet" href="/CSS/shipper/empty-alert.css">
    <link rel="stylesheet" href="/CSS/shipper/requests-notification.css">
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">

    <!-- ! -->
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">

</head>
<body>

    <!-- Notificações -->
    <% if (msgs.length > 0) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('Olá, <%= autenticado.autenticado %>', 'Bem-vindo de volta', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>

    <%- include('../../partial/header-client-shipper.ejs', { isClient: false }) %>
    
    <main>
        <h1>Entregas Solicitadas</h1>
        <section class="requests-container">
            <% if (pedidos.length > 0) { %>
                <% pedidos.forEach(pedido => { %>
                    <article class="card">
                        <section class="top">
                            <article class="row">
                                <img src="/imgs/shipper/partida-icon.svg" alt="">
                                <span class="address-name"><%= pedido.partida_pedido %></span>
                            </article>
                            <article class="row track">
                                <img src="/imgs/shipper/track.png" alt="">
                            </article>
                            <article class="row">
                                <img src="/imgs/shipper/destino-icon.svg" alt="">
                                <span class="address-name"><%= pedido.destino_pedido %></span>
                            </article>
                        </section>
                        <section class="description">
                            <p>
                                <span class="description-title">Carga:</span>
                                <% if (pedido.cod_carga == 'P') { %>
                                    Pequena (até 15 Kg)
                                <% } else if (pedido.cod_carga == 'M') { %>
                                    Média (15 Kg até Y Kg)
                                <% } else { %>
                                    Grande (Z Kg em diante)
                                <% } %>
                            </p>
                            <p><span class="description-title">Agendamento:</span> <%= pedido.agendamento == 0 ? 'Entrega Imediata' : 'Entrega Agendada' %></p>
                        </section>
                        <section class="bottom">
                            <span class="price"><%= new Intl.NumberFormat('pt-br', {currency: 'BRL', style: 'currency'}).format(pedido.preco_pedido) %></span>
                            <article class="btns">
                                <button class="btn accept">
                                    <img src="/imgs/shipper/check.png" alt="">
                                </button>
                                <button class="btn denied">
                                    <img src="/imgs/shipper/close.svg" alt="">
                                </button>
                            </article>
                        </section>
                        <section class="details">
                            <span class="indicator">i</span>
                        </section>
                    </article>
                <% }) %>
            <% } %>
        </section>
        <article class="empty-alert">
            <img src="/imgs/shipper/error-icon.png" alt="">
            <p>Você ainda não foi solicitado para nenhuma entrega</p>
        </article>

        <% if(pedidos.length > 0 && paginador){ %>
            <div class="notificador">
                <ul>
                    <% for(var i=1; i <=paginador.total_paginas; i++){ 
                        if(paginador.pagina_atual==i){ 
                    %>
                        <li><a class="atual" href="?pagina=<%= i %>">
                                <%= i %>
                            </a>
                        </li>
                        <% } else { %>
                            <li><a href="?pagina=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                        <% } 
                    } %>
                </ul>
            </div>
            
        <% } %>
    </main>
    <article class="notification-container"></article>

    <!-- Popup's -->
    <% if (pedidos.length > 0) { %>
        <% pedidos.forEach(pedido => { %>
            <%- include('../../partial/popup/info.ejs', { pedido }) %>
        <% }) %>
    <% } %>

    <%- include('../../partial/menu-burguer.ejs', { type: 'shipper' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/client/show-notification.js"></script>
    <script src="/JS/shipper/request.js"></script>
    <script src="/JS/shipper/popup-info.js"></script>
</body>
</html>