<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Histórico</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>

    <!--todo:   ver se vai ser alterado -->

    <link rel="stylesheet" href="/CSS/client/price-indicator.css">
    <link rel="stylesheet" href="/CSS/shipper/history.css">
    <link rel="stylesheet" href="/CSS/shipper/requests.css">
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="/CSS/client/rate-popup.css">

    <!-- todo  -->
</head>

<body>

    <%- include('../../partial/header-client-shipper.ejs', { isClient: false }) %>

        <main>
            <section class="history-header">
                <h1>Histórico</h1>
            </section>

            <section class="requests-container">
                <section class="card">
                    <section class="top">
                        <article class="row">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                alt="">
                            <span>Rua Carlos José de Castilho</span>
                        </article>
                        <article class="row track">
                            <img src="/imgs/shipper/track.png" alt="">
                        </article>
                        <article class="row">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                alt="">
                            <span>Rua Carneiro Leão</span>
                        </article>
                    </section>
                    <section class="description">
                        <p><span class="description-title">Carga:</span> Pequena (até 15 Kg)</p>
                        <p><span class="description-title">Agendamento:</span> Entrega Imediata</p>
                    </section>
                    <section class="bottom">
                        <span class="price">R$51,00</span>
                    </section>
                    <section class="details">
                        <span class="indicator">i</span>
                    </section>
                </section>
                <section class="card">
                    <section class="top">
                        <article class="row">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                alt="">
                            <span>Rua Carlos José de Castilho</span>
                        </article>
                        <article class="row track">
                            <img src="/imgs/shipper/track.png" alt="">
                        </article>
                        <article class="row">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                alt="">
                            <span>Rua Carneiro Leão</span>
                        </article>
                    </section>
                    <section class="description">
                        <p><span class="description-title">Carga:</span> Pequena (até 15 Kg)</p>
                        <p><span class="description-title">Agendamento:</span> Entrega Imediata</p>
                    </section>
                    <section class="bottom">
                        <span class="price">R$51,00</span>
                    </section>
                    <section class="details">
                        <span class="indicator">i</span>
                    </section>
                </section>
                <section class="card">
                    <section class="top">
                        <article class="row">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                alt="">
                            <span>Rua Carlos José de Castilho</span>
                        </article>
                        <article class="row track">
                            <img src="/imgs/shipper/track.png" alt="">
                        </article>
                        <article class="row">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                alt="">
                            <span>Rua Carneiro Leão</span>
                        </article>
                    </section>
                    <section class="description">
                        <p><span class="description-title">Carga:</span> Pequena (até 15 Kg)</p>
                        <p><span class="description-title">Agendamento:</span> Entrega Imediata</p>
                    </section>
                    <section class="bottom">
                        <span class="price">R$51,00</span>
                    </section>
                    <section class="details">
                        <span class="indicator">i</span>
                    </section>
                </section>
            </section>
        </main>

        <%- include('../../partial/popup/info.ejs', { pedido: null }) %>
        <%- include('../../partial/menu-burguer.ejs', { type: 'shipper' }) %>

        <script src="/JS/burguer.js"></script>
        <script src="/JS/shipper/popup-info.js"></script>
</body>

</html>