<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Envie suas Entrega</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet'/>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/client/delivery-request.css">
    <link rel="stylesheet" href="/CSS/client/delivery-request-suggestions.css">
    <link rel="stylesheet" href="/CSS/client/delivery-request-carousel.css">
    <link rel="stylesheet" href="/CSS/client/delivery-request-mobile.css">
    <link rel="stylesheet" href="/CSS/client/price-indicator.css">
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="/CSS/client/pay-popup.css">
    <link rel="stylesheet" href="/CSS/client/report-popup.css">
    <link rel="stylesheet" href="/CSS/shipper/panel.css">
    <link rel="stylesheet" href="/CSS/adm/error-alert.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>
<body>
    <!-- Notificações -->
    <% if (msgs.length > 0) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('<%= msg.title %>', '<%= msg.description %>', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>
    
    <%- include('../../partial/header-client-shipper.ejs', { isClient: false }) %>

    <main>
        <section class="form">
            <section class="form-wrapper">
                <section class="form-container">
                    <h1>Envie suas entregas</h1>

                    <section>
                        <% if (entregas.length > 0) { %>
                            <% entregas.forEach(entrega => { %>
                                <div class="ships <%= entrega.id_pedido == id_pedido ? 'active' : '' %>"
                                    data-lng="<%= entrega.status_entrega <= 1 ? entrega.longitude_partida : entrega.longitude_destino %>"
                                    data-lat="<%= entrega.status_entrega <= 1 ? entrega.latitude_partida : entrega.latitude_destino %>"
                                >
                                    <div class="info">
                                        <div class="photo">
                                            <% if (entrega.foto_de_perfil != null) { %>
                                                <img src="data:image/png;base64,<%= entrega.foto_de_perfil.toString('base64') %>" alt="">
                                            <% } else { %>
                                                <img src="/imgs/client/user-icon.svg" alt="">
                                            <% } %>
                                        </div>
                                        <div>
                                            <h2 class="name"><%= entrega.nome_usuario %></h2>
                                            <p class="address">
                                                De: <%= entrega.partida_pedido %><br>
                                                Para: <%= entrega.destino_pedido %>
                                            </p>
                                        </div>
                                    </div>
                                    <a href="/cliente/chat/<%= entrega.id_conversa %>" class="img_chat">
                                        <img src="/imgs/client/chat.svg" alt="" class="">
                                    </a>
                                </div>
                            <% }) %>
                        <% } else { %>
                            <div class="error-alert">
                                <img src="/imgs/shipper/error-icon.png" alt="">
                                <p>No momento, você não tem nenhuma entrega para ser enviada</p>
                            </div>
                        <% } %>
                    </section>
                </section>
            </section>
        </section>

        <section class="map">
            <div id="map"></div>
            <% entregas.forEach(entrega => { %>
                <% const status_msgs = ['Entrega não iniciada', 'Busque o Produto', 'Indo ao destino', 'Aguarde o Recebimento', 'Entrega Finalizada'] %>
                <div class="status <%= entrega.id_pedido == id_pedido ? 'active' : '' %>">
                    <div class="header">
                        <h1><%= status_msgs[entrega.status_entrega] %></h1>
                    </div>

                    <section class="container_bar_count">
                        <% for (let index = 0; index < 4; index++) { %>
                            <section class="bar_count <%= entrega.status_entrega > index ? 'count1' : '' %>"></section>
                        <% } %>
                    </section>

                    <p class="text-time">
                        <% if (entrega.status_entrega == 0) { %>
                            Inicie sua entrega
                        <% } else if (entrega.status_entrega == 1) { %>
                            Vá para <%= entrega.partida_pedido %>
                        <% } else if (entrega.status_entrega == 2) { %>
                            Vá para <%= entrega.destino_pedido %>
                        <% } else if (entrega.status_entrega == 3) { %>
                            Caso esteja demorando, chame o cliente no chat
                        <% } else if (entrega.status_entrega == 4) { %>
                            Entrega realizada com sucesso
                        <% } %>
                    </p>

                    <% if (entrega.status_entrega < 4) { %>
                        <div class="btn-container">
                            <% if (entrega.status_entrega != 0) { %>
                                <form action="/entregador/panel/update-status/<%= entrega.id_pedido %>/<%= entrega.status_entrega + 1 %>" method="post">
                                    <button class="cta">Próxima Etapa</button>
                                </form>
                                <button class="cta notify-call">Notificar Impeditivo</button>
                            <% } else { %>
                                <form action="/entregador/panel/update-status/<%= entrega.id_pedido %>/<%= entrega.status_entrega + 1 %>" method="post">
                                    <button class="cta">Começar entrega</button>
                                </form>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            <% }) %>

        <section class="return-form">
            <img src="/imgs/burguer-config-icon.png" alt="">
        </section>
    </main>

    <section class="popup notify">
        <section class="popup-content">
            <section class="close">
                <img src="/imgs/client/close-icon.svg" alt="">
            </section>
            <form class="popup-wrapper">
                <h1>Notificar Impeditivo</h1>
                <select required class="input-field field">
                    <option value="">Motivo do Impeditivo</option>
                    <option value="1">Problemas com Veículo</option>
                    <option value="2">Acidente de Trânsito</option>
                    <option value="4">Furto</option>
                    <option value="Outros">Outros</option>
                </select>
                <textarea required class="rate-field field" placeholder="Descrição do ocorrido"></textarea>
                <button class="cta">Enviar</button>
            </form>
        </section>
    </section>

    <%- include('../../partial/menu-burguer.ejs', { type: 'shipper' }) %>

    <script src="/JS/burguer.js"></script>
    <!-- <script src="/JS/client/geolocation.js"></script> -->
    <script type="module" src="/JS/shipper/notify.js"></script>
    <script type="module" src="/JS/shipper/panel.js"></script>
</body>
</html>