<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Resultados</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/shipper/results.css">
    <link rel="stylesheet" href="/CSS/shipper/results-history.css">
    <link rel="stylesheet" href="/CSS/shipper/results-rating.css">
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="/CSS/shipper/requests-notification.css">
    <link rel="stylesheet" href="/CSS/client/pay-popup.css">
    <link rel="stylesheet" href="/CSS/client/report-popup.css">
    <link rel="stylesheet" href="/CSS/client/cupon-popup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>

<body>

    <%- include('../../partial/header-client-shipper.ejs', { isClient: false }) %>

    <main>
        <section class="results-container">
            <article class="results-header">
                <h1>Resultados</h1>
            </article>

            <article class="results-cards">

                <section class="cards cards-top">
                    <article class="card-header">
                        <h1>Dinheiro ganho</h1>
                        <article class="icon">
                            <img src="/imgs/shipper/icon-profit.svg" alt="">
                        </article>
                    </article>
                    <article class="card-bottom">
                        <span class="money">R$500,00</span>
                        <article class="graph">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u142.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                alt="">
                            <span><span class="percentage up">25%</span> desde a última semana</span>
                        </article>
                    </article>
                </section>

                <section class="cards cards-top">
                    <article class="card-header">
                        <h1>Entregas Realizadas</h1>
                        <article class="icon">
                            <img src="/imgs/shipper/icon-truck.svg" alt="">
                        </article>
                    </article>
                    <article class="card-bottom">
                        <span class="money">15 entregas</span>
                        <article class="graph">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u142.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                alt="">
                            <span><span class="percentage up">10%</span> desde a última semana</span>
                        </article>
                    </article>
                </section>

                <section class="cards cards-top">
                    <article class="card-header">
                        <h1>Visualizações no seu perfil</h1>
                        <article class="icon">
                            <img src="/imgs/shipper/icon-views.svg" alt="">
                        </article>
                    </article>
                    <article class="card-bottom">
                        <span class="money">40 visitas</span>
                        <article class="graph">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u142.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                alt="">
                            <span><span class="percentage up">10%</span> desde a última semana</span>
                        </article>
                    </article>
                </section>

                <section class="cards card-history">
                    <article class="card-header">
                        <h1>Histórico de Entregas</h1>
                        <a href="/entregador/historico">Ver tudo</a>
                    </article>

                    <table>
                        <% pedidos.forEach(pedido => { %>
                            <tr>
                                <td>Em Andamento</td>
                                <td><%= pedido.partida_pedido %> - <%= pedido.destino_pedido %></td>
                                <td><%= pedido.nome_usuario %></td>
                                <td>
                                    <% if (pedido.porcentagem_cupom == null) { %>
                                        <%= new Intl.NumberFormat('pt-br', {currency: 'BRL', style: 'currency'}).format(pedido.preco_pedido) %>
                                    <% } else { %>
                                        <%= new Intl.NumberFormat('pt-br',{currency: 'BRL', style: 'currency'}).format(pedido.preco_pedido - ((pedido.porcentagem_cupom / 100) * pedido.preco_pedido)) %> 
                                    <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </table>
                </section>

                <section class="rating-cupon">

                    <section class="cards card-rating">
                        <article class="rating-header">
                            <h1>Avaliações</h1>
                            <% if (avaliacoes.length > 0) { %>
                                <article class="rating-controls">
                                    <button class="back"><</button>
                                    <button class="next">></button>
                                </article>
                            <% } %>
                        </article>
                        <% if (avaliacoes.length > 0) { %>
                                <div class="rating-container swiper">
                                    <div class="swiper-wrapper">
                                        <% avaliacoes.forEach(avaliacao => { %>
                                            <div class="swiper-slide content">
                                                <div class="header">
                                                    <h1><%= avaliacao.nome_usuario %></h1>
                                                    <% if (avaliacao.id_denuncia == null) { %>
                                                        <img class="report-call" src="/imgs/client/report-icon.svg" alt="" data-id-entregador="<%= avaliacao.id_avaliador %>">
                                                    <% } %>
                                                </div>
                                                <p><%= avaliacao.feedback_avaliacao %></p>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                            <% } else { %>
                                <section class="cards card-help" style="height: 100%;">
                                    <h2>Por enquanto, você não tem nenhuma avaliação</h2>
                                </section>
                            <% } %>
                    </section>

                    <section class="cards card-help">
                        <h2>Precisa de ajuda?</h2>
                        <p>Tire suas dúvidas na <a href="/ajuda">Central de Ajuda</a></p>
                    </section>
                </section>
                <article class="history-link">
                    <a href="/entregador/historico">Ver histórico da Entrega</a>
                </article>

            </article>
        </section>
    </main>

    <article class="notification-container"></article>

    <!-- <section class="popup cupon">
        <article class="popup-content">
            <section class="close">
                <img src="/imgs/client/close-icon.svg" alt="">
            </section>
            <section class="popup-wrapper">
                <h1>Cupom</h1>
                <article class="pay-field">
                    <input class="input-field" type="text" readonly="" value="MOTORISTA15">
                    <button type="button">Copiar</button>
                </article>
                <h2>Uso do cupom</h2>
                <canvas class="chart-cupon"></canvas>
            </section>
        </article>
    </section> -->

    <%- include('../../partial/popup/report.ejs') %>
    <%- include('../../partial/menu-burguer.ejs', { type: 'shipper' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/shipper/report-popup.js"></script>
    <script src="/JS/client/show-notification.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/JS/shipper/cupons.js"></script>
    <script src="/JS/shipper/gerarCupon.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/JS/shipper/results-carousel.js"></script>
</body>

</html>