<section class="popup info">
    <article class="popup-content">
        <article class="close">
            <img src="/imgs/client/close-icon.svg" alt="">
        </article>
        <section class="popup-wrapper">
            <h1>Informações da Entrega</h1>
            <%# Remova as interrogações quando for fazer o histórico %>
            <p><span class="title-type">Local de partida:</span> <%= pedido?.partida_pedido ?? 'Rua José de Castilho' %></p>
            <p><span class="title-type">Local de destino:</span> <%= pedido?.destino_pedido ?? 'Rua José de Castilho' %></p>
            <p><span class="title-type">Agendamento:</span> <%= pedido?.agendamento == 1 ? 'Sim' : 'Não' %></p>

            <% if (pedido?.agendamento) { %>
                <p><span class="title-type">Data e hora agendada:</span> <%= new Date(pedido.data_agendamento).toLocaleString('pt-br', {year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'}) %></p>
            <% } %>
            
            <p><span class="title-type">Peso:</span>
                <% if (pedido?.cod_carga == 'P') { %>
                    até 11,5 Kg
                <% } else if (pedido?.cod_carga == 'M') { %>
                    11,5 Kg até 80 Kg
                <% } else { %>
                    80 Kg em diante
                <% } %>
            </p>
            <p><span class="title-type">Dimensões:</span> 
                <% if (pedido?.cod_carga == 'P') { %>
                    até 20x10cm
                <% } else if (pedido?.cod_carga == 'M') { %>
                    de 20x10cm até 60x70cm
                <% } else { %>
                    60x70cm em diante
                <% } %>
            </p>
            <% if (pedido.porcentagem_cupom == null) { %>
                <p><span class="title-type">Preço:</span> <%= new Intl.NumberFormat('pt-br', {currency: 'BRL', style: 'currency'}).format(pedido?.preco_pedido) %></p>
            <% } else { %>
                <p><span class="title-type">Preço:</span> <%= new Intl.NumberFormat('pt-br',{currency: 'BRL', style: 'currency'}).format(pedido.preco_pedido - ((pedido.porcentagem_cupom / 100) * pedido.preco_pedido)) %></p>
                
            <% } %>
        </section>
    </article>
</section>