<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Chat</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <%- include('../../partial/config/config-chat.ejs') %>
    <!--  <link rel="stylesheet" href="/CSS/Testechat.css"> -->
</head>
<body>
    
    <% if (type == "1") { %>
        <%- include('../../partial/header-client-shipper.ejs', { isClient: true }) %>
    <% } else { %>
        <%- include('../../partial/header-client-shipper.ejs', { isClient: false }) %>
    <% } %>

    <main>
        
        <section class="sidebar <%= id_conversa == null ? 'show' : '' %>">
            <section class="nav">
                <section class="search-bar">
                    <article class="icon">
                        <img src="/imgs/home/client/card-icon-1.svg" alt="">
                    </article>
                    <input placeholder="Buscar" type="text">
                    <section class="suggestions">
                        <ul class="suggestions-options">
                            <% conversas.forEach(item => { %>
                                <li>
                                    <a href="/<%= type == '1' ? 'cliente' : 'entregador' %>/chat/<%= item.id_conversa %>"><%= item.nome_usuario %></a>
                                </li>
                            <% }) %>
                        </ul>
                    </section>
                </section>
                
                <ul class="contact-list">
                    <% conversas.forEach(item => { %>
                        <li data-id-conversa="<%= item.id_conversa %>" title="<%= item.mensagem %>" class="<%= item.id_conversa == id_conversa ? 'active' : '' %>">
                            <a href="/<%= type == '1' ? 'cliente' : 'entregador' %>/chat/<%= item.id_conversa %>" class="chat-contact">
                                <section class="contact-info">
                                    <article class="photo">
                                        <% if (item.foto_de_perfil != null) { %>
                                            <img src="data:image/png;base64,<%= item.foto_de_perfil.toString('base64') %>" alt="">
                                        <% } else { %>
                                            <img src="/imgs/client/user-icon.svg" alt="">
                                        <% } %>
                                    </article>
                                    <article class="contact-msg">
                                        <h1><%= item.nome_usuario %></h1>
                                        <p class="msg-text"><%= item.mensagem %></p>
                                    </article>
                                </section>
                                <article class="contact-time">
                                    <p class="time-text"><%= item.data_envio %></p>
                                </article>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </section>
        </section>

        <% if (id_conversa != null && conversas.find(item => item.id_conversa == id_conversa) != undefined) { %>
            <section class="chat">
                <article class="sidebar-burguer">
                    <img src="/imgs/burguer-config-icon.png" alt="">
                </article>
    
                <section class="chat-container">
    
                    <section class="chat-header">
                        <article class="info">
                            <h1><%= conversas.find(item => item.id_conversa == id_conversa)?.nome_usuario %></h1>
                            <img class="report-call" src="/imgs/client/report-icon.svg" alt="">
                        </article>
                        <!-- <article class="action">
                            <button class="rounded-icon">
                                <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u202.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                            </button>
                        </article> -->
                    </section>
                    
                    <section class="chat-msgs">
                        <section class="msgs-container">
                            <section class="msgs-content">
                                <section class="row chat-info">
                                    <article class="msg">
                                        Para finalizar a entrega, clique no clipe e envie a solicitação de confimação de entrega, para o entregador aceitar ou negar sua entrega.
                                    </article>
                                </section>

                                <% mensagens.forEach(mensagem => { %>
                                    <section class="row <%= mensagem.id_usuario == autenticado.id ? 'my-msg' : 'other-msg' %>">
                                        <!-- <article class="user-icon rounded-icon">
                                            <img src="/imgs/client/user-icon.svg" alt="">
                                        </article> -->
                                        <article class="msg"><%= mensagem.mensagem %></article>
                                    </section>
                                <% }) %>
                            </section>
                        </section>
                        <section class="clip-popup">
                            <ul>
                                <!-- <li>
                                    <article class="rounded-icon">
                                        <img src="/imgs/shipper/icon-image.svg" alt="">
                                    </article>
                                    <span>Fotos e Vídeos</span>
                                </li>
                                <li>
                                    <article class="rounded-icon">
                                        <img src="/imgs/shipper/icon-camera.svg" alt="">
                                    </article>
                                    <span>Câmera</span>
                                </li>
                                <li>
                                    <article class="rounded-icon">
                                        <img src="/imgs/shipper/icon-document.svg" alt="">
                                    </article>
                                    <span>Documento</span>
                                </li> -->
                                <li>
                                    <article class="rounded-icon confirm-ship">
                                        <img src="/imgs/client/check-icon-1.svg" alt="">
                                    </article>
                                    <span>Confirmação de Entrega</span>
                                </li>
                            </ul>
                        </section>
                    </section>
    
                    <section class="chat-inputs">
                        <textarea rows="1" placeholder="Digite sua mensagem aqui"></textarea>
                        <section class="actions">
                            <button class="clip rounded-icon">
                                <img src="/imgs/client/clip-chat-icon.svg" alt="">
                            </button>
                            <button class="send rounded-icon">
                                <img src="/imgs/client/send-chat-icon.svg" alt="">
                            </button>
                        </section>
                    </section>
                </section>
            </section>    
        <% } else { %>
            <section class="error-container">
                <% if (conversas.length == 0) { %>
                    <img class="error-img" src="/imgs/shipper/error-icon.png" alt="">
                    <p class="error-msg">Por enquanto, você não tem nenhuma conversa criada</p>  
                <% } else if (id_conversa != null && conversas.find(item => item.id_conversa == id_conversa) == undefined) { %>
                    <img class="error-img" src="/imgs/shipper/error-icon.png" alt="">
                    <p class="error-msg">Conversa não encontrada</p>
                <% } else { %>
                    <img class="error-img" src="/imgs/home/client/card-icon-2.svg" alt="">
                    <p class="error-msg">Selecione a conversa, e acerte os últimos detalhes da entrega</p>
                <% } %>
            </section>
        <% } %>

    </main>

    <section class="notification-container"></section>

    <%- include('../../partial/popup/report.ejs') %>
    
    <% if (type == "1") { %>
        <%- include('../../partial/menu-burguer.ejs', { type: 'client' }) %>
    <% } else { %>
        <%- include('../../partial/menu-burguer.ejs', { type: 'shipper' }) %>
    <% } %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.4/purify.min.js" integrity="sha512-jGh38w63cHRzfBHtyKgEMMkJswUFXDA3YXrDjaE8ptzxV5DDkLDUDjtGUy5tmDkOXHWsItKfFjocaEtj1WuVnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/shipper/burguer-config.js"></script>
    <script src="/JS/shipper/textarea-resize.js"></script>

    <script>
        const id_conversa = '<%= id_conversa ?? null %>'
        const id_usuario = '<%= autenticado?.id %>'
        const id_destinatario = '<%= id_destinatario ?? null %>'
    </script>

    <script src="/JS/search-quotes.js"></script>
    <!-- Configura o socket, e atualiza a sidebar -->
    <script src="/JS/shipper/change-sidebar.js"></script>

    <!-- Envia mensagem -->
    <script src="/JS/shipper/send-msg.js"></script>
    
    <!-- Envia mensagem de confirmação -->
    <script src="/JS/client/send-confirm.js"></script>
    
    <script src="/JS/shipper/clip-popup.js"></script>
    <script src="/JS/shipper/report-popup.js"></script>

    <!-- <script>
        const socket = io();

        function scrollToBottom() {
            const chatBox = document.getElementById('chat-box');
            chatBox.scrollTop = chatBox.scrollHeight;
        }

        socket.on('chat message', function (data) {
        const messages = document.getElementById('messages');
        const item = document.createElement('li');

        item.className = data.username === '<%= username %>' ? 'message-sent' : 'message-received';
        if (data.username !== '<%= username %>') {
            item.innerHTML = `<span class="username">${data.username}</span> ${data.message}`;
        } else {
            item.innerHTML = `${data.message}`;
        }

        messages.appendChild(item);

        if (data.username !== '<%= username %>') {
            const newMessageNotification = document.getElementById('new-message');
            newMessageNotification.style.display = 'block';
            setTimeout(() => {
            newMessageNotification.style.display = 'none';
            }, 5000);
        }

        scrollToBottom();
        });

        document.getElementById('form').addEventListener('submit', function (event) {
        event.preventDefault();
            const form = event.target;
            const message = form.message.value;
            socket.emit('chat message', { userId: '<%= userId %>', username: '<%= username %>', message });

            form.message.value = '';
            scrollToBottom();
        });

        window.onload = scrollToBottom;   

    </script> -->
    
</body>
</html>