<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Configurações</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/shipper/requests-modal.css">
    <link rel="stylesheet" href="/CSS/shipper/sidebar-config.css">
    <link rel="stylesheet" href="/CSS/shipper/config.css">
    <link rel="stylesheet" href="/CSS/shipper/payment-config.css">
</head>

<body>

    <%- include('../../partial/header-client-shipper.ejs', { isClient }) %>

    <main>
        <%- include('../../partial/cliente-entregador/sidebar-configuracoes.ejs', { isClient }) %>
        
        <section class="config">
            <section class="config-container">
                <section class="sidebar-burguer">
                    <img src="/imgs/burguer-config-icon.png" alt="">
                </section>
                <form class="form-perfil" action="">
                    <h1 class="row">Pagamento</h1>
                    <p>Insira aqui seus metódos de pagamento.</p>
                    <section class="row">
                        <input type="checkbox" id="cartao">
                        <label for="cartao">Cartão <span>></span></label>
                        <section class="content">
                            <section class="edit-row">
                                <article class="input-container">
                                    <input class="input-field" type="text" readonly value="**** **** **** 5693">
                                    <input type="button" class="btn" value="Cancelar">
                                    <input type="button" class="btn confirm" value="Confirmar">
                                </article>
                                <span class="changeCall">Alterar</span>
                            </section>
                        </section>
                    </section>
                    <section class="row">
                        <input type="checkbox" id="pix">
                        <label for="pix">Pix <span>></span></label>
                        <section class="content">
                            <section class="edit-row">
                                <article class="input-container">
                                    <input class="input-field" type="text" readonly value="123e4567-e12b-12d1">
                                    <input type="button" class="btn" value="Cancelar">
                                    <input type="button" class="btn confirm" value="Confirmar">
                                </article>
                                <span class="changeCall">Alterar</span>
                            </section>
                        </section>
                    </section>
                </form>
            </section>
        </section>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: isClient ? 'client' : 'shipper' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/shipper/change.js"></script>
    <script src="/JS/shipper/burguer-config.js"></script>
</body>

</html>