<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Configurações</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/shipper/requests-modal.css">
    <link rel="stylesheet" href="/CSS/shipper/sidebar-config.css">
    <link rel="stylesheet" href="/CSS/shipper/config.css">
</head>

<body>
    
    <%- include('../../partial/header-client-shipper.ejs', { isClient }) %>

    <%# JSON.stringify(result) %>
 
    <main>
        <%- include('../../partial/cliente-entregador/sidebar-configuracoes.ejs', { isClient }) %>
        <section class="config">
            <section class="config-container">
                <section class="sidebar-burguer">
                    <img src="/imgs/burguer-config-icon.png" alt="">
                </section>

                <form class="form-perfil" action="/<%= isClient ? 'cliente' : 'entregador' %>/configuracoes/<%= result.id_usuario %>?_method=PUT" method="post">
                    <h1 class="row">Privacidade</h1><br>
                    <h2 style="text-decoration: underline;">Dados pessoais</h2>
                    <div class="row">
                        <label for="name">Nome </label>
                        <div class="edit-row">
                            <div class="input-container">
                                <input class="input-field" type="text" placeholder="Digite aqui seu nome" readonly id="name" name="nome_usuario" value="<%= dados?.nome_usuario ?? result.nome_usuario %>">
                                <input type="button" class="btn" value="Cancelar">
                                <button class="btn confirm">Confirmar</button>
                            </div>
                            <span class="changeCall">Alterar</span>
                        </div>
                        <span class="error"><%= erros?.nome_usuario?.msg %></span>
                    </div>
                    <div class="row">
                        <label for="email">Email </label>
                        <div class="edit-row">
                            <div class="input-container">
                                <input class="input-field" type="text" placeholder="Digite aqui seu email" readonly id="email" name="email_usuario" value="<%= dados?.email_usuario ??result.email_usuario %>">
                                <input type="button" class="btn" value="Cancelar">
                                <button class="btn confirm">Confirmar</button>
                            </div>
                            <span class="changeCall">Alterar</span>
                        </div>
                        <span class="error"><%= erros?.email_usuario?.msg %></span>
                    </div>
                    <div class="row">
                        <label for="number">Número </label>
                        <div class="edit-row">
                            <div class="input-container">
                                <input class="input-field" type="text" placeholder="Digite aqui seu telefone" readonly id="tel" name="telefone_usuario" maxlength="15" value="<%= dados?.telefone_usuario ?? result.telefone_usuario %>">
                                <input type="button" class="btn" value="Cancelar">
                                <button class="btn confirm">Confirmar</button>
                            </div>
                            <span class="changeCall">Alterar</span>
                        </div>
                        <span class="error"><%= erros?.telefone_usuario?.msg %></span>
                    </div>
                    <div class="row">
                        <label for="cpf">CPF </label>
                        <div class="edit-row">
                            <div class="input-container">
                                <input class="input-field cpf" type="text" placeholder="Digite aqui seu telefone" readonly id="cpf" name="cpf_usuario" maxlength="15" value="<%= dados?.cpf_usuario ?? result.cpf_usuario %>">
                                <input type="button" class="btn" value="Cancelar">
                                <button class="btn confirm">Confirmar</button>
                            </div>
                            <span class="changeCall">Alterar</span>
                        </div>
                        <span class="error"><%= erros?.cpf_usuario?.msg %></span>
                    </div>
                    <section class="row">
                        <label for="nasc">Data de Nascimento</label>
                        <section class="edit-row">
                            <div class="input-container">
                                <% const dataValue = dados?.data_usuario ?? result.data_usuario %>
                                <!-- <input class="input-field" type="date" placeholder="Digite aqui sua data de nascimento" required readonly name="data_usuario" id="nasc" value="<%#= new Date(dataValue).toISOString().split('T')[0] %>"> -->
                                <p><%#= JSON.stringify(dados) %></p>
                                <input class="input-field" type="date" placeholder="Digite aqui sua data de nascimento" required readonly name="data_usuario" id="nasc" value="<%= dados?.data_usuario ?? new Date(dataValue).toISOString().split('T')[0] %>">
                                <input type="button" class="btn" value="Cancelar">
                                <button class="btn confirm">Confirmar</button>
                            </div>
                            <span class="changeCall">Alterar</span>
                        </section>
                        <span class="error"><%= erros?.data_usuario?.msg %></span>
                    </section>
                </form>
                <% if (!isClient) { %>
                    <form class="form-perfil" action="/entregador/configuracoes-entregador/<%= result.id_usuario %>?_method=PUT" method="post">
                        <div class="row">
                            <label for="cpf">Raio de Atuação </label>
                            <div class="edit-row">
                                <div class="input-container">
                                    <input class="input-field cpf" type="text" placeholder="Digite aqui seu telefone" readonly id="raio_de_atuacao" name="raio_de_atuacao" value="<%= dados?.raio_de_atuacao ?? result.raio_de_atuacao %>">
                                    <input type="button" class="btn" value="Cancelar">
                                    <button class="btn confirm">Confirmar</button>
                                </div>
                                <span class="changeCall">Alterar</span>
                            </div>
                            <span class="error"><%= erros?.raio_de_atuacao?.msg %></span>
                        </div>
                    </form>
                    <h2 style="text-decoration: underline;">Documentos</h2>
                    <br>
                    <img style="width: 100%;" src="data:image/png;base64,<%= result.cnh_entregador.toString('base64') %>" alt="">
                <% } %> 
            </section>
        </section>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: isClient ? 'client' : 'shipper' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/shipper/change.js"></script>
    <script src="/JS/shipper/burguer-config.js"></script>
    <!-- <script src="/JS/perfil.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="/JS/login-cadastro/mascara.js"></script>
</body>

</html>