<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Configurações</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/shipper/requests-modal.css">
    <link rel="stylesheet" href="/CSS/shipper/sidebar-config.css">
    <link rel="stylesheet" href="/CSS/shipper/config.css">
</head>

<body>
    
    <%- include('../../partial/header-client-shipper.ejs', { isClient }) %>

    <main>
        <%- include('../../partial/cliente-entregador/sidebar-configuracoes.ejs', { isClient }) %>
        
        <section class="config">
            <section class="config-container">
                <section class="sidebar-burguer">
                    <img src="/imgs/burguer-config-icon.png" alt="">
                </section>

                <form class="form-perfil">
                    <h1 class="row">Privacidade</h1><br>
                    <h2 style="text-decoration: underline;">Dados pessoais</h2>
                    <section class="row">
                        <label for="name">Nome</label>
                        <section class="edit-row">
                            <article class="input-container">
                                <input class="input-field" type="text" readonly id="name" value="Entregador 1">
                                <input type="button" class="btn" value="Cancelar">
                                <input type="button" class="btn confirm" value="Confirmar">
                            </article>
                            <span class="changeCall">Alterar</span>
                        </section>
                    </section>
                    <section class="row">
                        <label for="email">E-mail</label>
                        <section class="edit-row">
                            <article class="input-container">
                                <input class="input-field" type="text" required readonly id="email" value="entregador@email.com">
                                <input type="button" class="btn" value="Cancelar">
                                <input type="button" class="btn confirm" value="Confirmar">
                            </article>
                            <span class="changeCall">Alterar</span>
                        </section>
                    </section>
                    <section class="row">
                        <label for="email">Telefone</label>
                        <section class="edit-row">
                            <article class="input-container">
                                <input class="input-field" type="text" required readonly id="email" value="(11)99999-9999">
                                <input type="button" class="btn" value="Cancelar">
                                <input type="button" class="btn confirm" value="Confirmar">
                            </article>
                            <span class="changeCall">Alterar</span>
                        </section>
                    </section><br><br>
                    <h2 style="text-decoration: underline;">Documentos</h2>
                </form>
                <!-- <section class="row">
                    <label for="password">Senha</label>
                    <section class="edit-row">
                        <article class="input-container">
                            <input type="password" readonly id="password" value="Senha123">
                            <input type="button" class="btn" value="Cancelar">
                            <input type="button" class="btn confirm" value="Confirmar">
                        </article>
                        <span class="changeCall">Alterar</span>
                    </section>
                </section> -->
            </section>
        </section>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: 'shipper' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/shipper/change.js"></script>
    <script src="/JS/shipper/burguer-config.js"></script>
</body>

</html>