<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Perfil</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/shipper/config.css">
    <link rel="stylesheet" href="/CSS/shipper/requests-modal.css">
    <link rel="stylesheet" href="/CSS/shipper/profile.css">
</head>

<body>

    <%- include('../../partial/header-client-shipper.ejs', { isClient/* , autenticado: autenticado */ }) %>
    <span><%# JSON.stringify(erros) %></span>
    <main>
        <div class="profile-container">

            <form class="form-perfil <%= !hasPermission ? 'disable-form' : '' %>" action="/<%= isClient ? 'cliente' : 'entregador' %>/perfil/<%= result.id_usuario %>?_method=PUT" method="post">

                <div class="Seu-Perfil">
                    <h2>Seu Perfil</h2>
                </div>
                <div class="action-perfil">
                    <label class="action__upload-btn" for="img-selector">Alterar sua foto de perfil</label>
                    <input type="file" name="" id="img-selector" class="action__hiddenField js__profile-upload-btn">
                </div>
                <div class="profile-p">
                    <div class="profile__image js__profile-image"
                        style="background-image:url(https://via.placeholder.com/300x300/cccccc/666666/?text=Fretus)">
                    </div>
                </div>
                
                <% if (!isClient) { %>
                    <aside class="botaoDisponivel">
                        <p id="disponibilidade">Não disponível</p>
                        <input id="toggle" onclick="disponivel()" class="toggle" type="checkbox">
                        <label for="toggle"></label>
                    </aside>
                <% } %>

                <div class="row">
                    <label for="name">Nome: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input class="input-field" type="text" placeholder="Digite aqui seu nome" readonly id="name" name="nome_usuario" value="<%= dados?.nome_usuario ?? result.nome_usuario %>">
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                    <span class="error"><%= erros?.nome_usuario?.msg %></span>
                </div>
                <div class="row">
                    <label for="email">Email: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input class="input-field" type="text" placeholder="Digite aqui seu email" readonly id="email" name="email_usuario" value="<%= dados?.email_usuario ??result.email_usuario %>">
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                    <span class="error"><%= erros?.email_usuario?.msg %></span>
                </div>
                <div class="row">
                    <label for="number">Número: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input class="input-field" type="text" placeholder="Digite aqui seu telefone" readonly id="number" name="telefone_usuario" maxlength="15" value="<%= dados?.telefone_usuario ?? result.telefone_usuario %>">
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                    <span class="error"><%= erros?.telefone_usuario?.msg %></span>
                </div>
                <div class="row">
                    <label for="descricao">Descrição: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <textarea class="input-field" placeholder="Digite aqui sua descrição" readonly id="descricao" name="descricao_usuario"><%= dados?.descricao_usuario ?? result.descricao_usuario %></textarea>
                            <span class="count">0/200</span>
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                    <span class="error"><%= erros?.descricao_usuario?.msg %></span>
                </div>
            </form>

            <% if (!isClient) { %>
                <!-- <section class="row">
                    <label for="periodo">período de disponibilidade:</label>
                    <aside class="edit-periodo">
                        <input type="time">
                        <span>até</span>
                        <input type="time" name="periodo">
                    </aside>
                </section> -->
                <form class="form-perfil <%= !hasPermission ? 'disable-form' : '' %>" action="/entregador/veiculo/<%= result.id_usuario %>?_method=PUT" method="post">
                    <input type="hidden" name="id_entregador" value="<%= result.id_entregador %>">
                    <section class="row">
                        <label for="vehicles">Tipo do Veículo </label>
                        <section class="edit-row">
                            <!-- <article class="input-container"> -->
                                <select name="tipo_veiculo" class="select-field" id="veiculo" <%= !hasPermission ? 'disabled' : '' %>>
                                    <option value="moto" <%= result.tipo_veiculo == 'moto' ? 'selected': '' %>>Moto</option>
                                    <option value="carro" <%= result.tipo_veiculo == 'carro' ? 'selected': '' %>>Carro</option>
                                    <option value="van" <%= result.tipo_veiculo == 'van' ? 'selected': '' %>>Van</option>
                                    <option value="caminhao" <%= result.tipo_veiculo == 'caminhao' ? 'selected': '' %>>Caminhão</option>
                                </select>
                            <!-- </article> -->
                        </section>
                        <span class="error"><%= erros?.tipo_veiculo?.msg %></span>
                    </section>
                    <section class="row">
                        <label for="raio">Modelo do Veículo:</label>
                        <div class="edit-row">
                            <div class="input-container">
                                <input class="input-field" type="text" placeholder="Digite aqui seu modelo de veículo" readonly id="modelo_veiculo" name="modelo_veiculo" value="<%= dados?.modelo_veiculo ?? result.modelo_veiculo %>">
                                <input type="button" class="btn" value="Cancelar">
                                <button class="btn confirm">Confirmar</button>
                            </div>
                            <span class="changeCall">Alterar</span>
                        </div>
                        <span class="error"><%= erros?.modelo_veiculo?.msg %></span>
                    </section>
                    <!-- <section class="row">
                        <label for="raio">Raio de Atuação</label>
                        <div class="edit-row">
                            <div class="input-container">
                                <input class="input-field" type="text" placeholder="Digite aqui seu raio de atuacao" readonly id="raio_de_atuacao" name="modelo_veiculo" value="<%= result.raio_de_atuacao %>">
                                <input type="button" class="btn" value="Cancelar">
                                <button class="btn confirm">Confirmar</button>
                            </div>
                            <span class="changeCall">Alterar</span>
                        </div>
                    </section> -->
                </form>
            <% } %>
            <div class="containerm-p">
                <p>
                    Precisa de ajuda? Entre em contato com a
                    <a href="/ajuda">Central de Ajuda.</a>
                </p>
            </div>
        </div>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: isClient ? 'client' : 'shipper' }) %>

    <script>
        const noPermission = <%= !hasPermission %>
    </script>
    <script src="/JS/burguer.js"></script>
    <!-- alterar valores input -->
    <script src="/JS/shipper/change.js"></script>
    <!-- resize textarea -->
    <script src="/JS/shipper/profile.js"></script>
    <!-- foto perfil, mascara telefone -->
    <script src="/JS/perfil.js"></script>
    <script src="/JS/shipper/toggle.js"></script>
</body>

</html>