<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Perfil</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/shipper/config.css">
    <link rel="stylesheet" href="/CSS/shipper/requests-modal.css">
    <link rel="stylesheet" href="/CSS/shipper/profile.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>

<body>

    <!-- Notificações -->
    <% if (msgs.length > 0) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('Alteração feita', '<%= msg.text %>', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>

    <%
        // const customError = {}
        if (erros) {
            const keys = Object.keys(erros)
            keys.forEach(key => {
                const campoAtual = key
                const msg = erros[campoAtual].msg 
                %>
                    <script>notify('<%= msg %>', 'Verifique este campo', 'error')</script>
                <%
            })
        }
    %>

    <%- include('../../partial/header-client-shipper.ejs', { isClient }) %>
    
    <main>
        <div class="profile-container">

            <div class="Seu-Perfil">
                <h2>Seu Perfil</h2>
            </div>

            <div class="img-container">
                <% if (result?.foto_de_perfil) { %>
                    <img src="data:image/png;base64,<%= result.foto_de_perfil.toString('base64') %>">
                <% } else { %>
                    <img src="https://placehold.co/350x350?font=montserrat&text=<%= result.nome_usuario %>" alt="">
                <% } %>
            </div>

            <% if (hasPermission) { %>
                <form action="/<%= isClient ? 'cliente' : 'entregador' %>/perfil/<%= result.id_usuario %>?_method=PUT" method="post" enctype="multipart/form-data">
                    <input type="file" name="foto_de_perfil" id="foto_perfil" class="input-foto">
                    <label for="foto_perfil" class="label-foto">Alterar foto de perfil</label>
                </form>
            <% } %>
                
            <% if (!isClient) { %>
                <!-- 1 == false, 2 == true -->
                <form class="form-perfil" action="/entregador/perfil-status/<%= result.id_usuario %>?_method=PUT" method="post">
                    <section class="row row-toogle">
                        <div class="info">
                            <span class="status-online <%= result.status_disponivel == 1 ? 'offline' : '' %>"></span>
                            <span><%= result.status_disponivel == 2 ? 'Disponível' : 'Indisponível' %></span>
                        </div>
                        <% if (hasPermission) { %>
                            <input type="checkbox" name="status_disponivel" value="<%= result.status_disponivel %>" id="status">
                            <label for="status" class="toogle">
                                <article class="ball"></article>
                            </label>
                        <% } %>
                    </section>
                </form>
            <% } %>

            <form class="form-perfil <%= !hasPermission ? 'disable-form' : '' %>" action="/<%= isClient ? 'cliente' : 'entregador' %>/perfil/<%= result.id_usuario %>?_method=PUT" method="post">
                <div class="row">
                    <label for="name">Nome: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input class="input-field" type="text" placeholder="Digite aqui seu nome" readonly id="name" name="nome_usuario" value="<%= dados?.nome_usuario ?? result.nome_usuario %>">
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                    <span class="error"><%= erros?.nome_usuario?.msg %></span>
                </div>
                <div class="row">
                    <label for="email">Email: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input class="input-field" type="text" placeholder="Digite aqui seu email" readonly id="email" name="email_usuario" value="<%= dados?.email_usuario ?? result.email_usuario %>">
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                    <span class="error"><%= erros?.email_usuario?.msg %></span>
                </div>
                <div class="row">
                    <label for="number">Número: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input class="input-field" type="text" placeholder="Digite aqui seu telefone" readonly id="number" name="telefone_usuario" maxlength="15" value="<%= dados?.telefone_usuario ?? result.telefone_usuario %>">
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                    <span class="error"><%= erros?.telefone_usuario?.msg %></span>
                </div>
                <div class="row">
                    <label for="descricao">Descrição: </label>
                    <div class="edit-row">
                        <div class="input-container">
                            <textarea class="input-field" placeholder="Digite aqui sua descrição" readonly id="descricao" name="descricao_usuario"><%= dados?.descricao_usuario ?? result.descricao_usuario %></textarea>
                            <span class="count">0/200</span>
                            <input type="button" class="btn" value="Cancelar">
                            <button class="btn confirm">Confirmar</button>
                        </div>
                        <span class="changeCall">Alterar</span>
                    </div>
                    <span class="error"><%= erros?.descricao_usuario?.msg %></span>
                </div>
            </form>

            <% if (!isClient) { %>
                <form class="form-perfil <%= !hasPermission ? 'disable-form' : '' %>" action="/entregador/veiculo/<%= result.id_usuario %>?_method=PUT" method="post">
                    <input type="hidden" name="id_entregador" value="<%= result.id_entregador %>">
                    <section class="row">
                        <label for="vehicles">Tipo do Veículo</label>
                        <section class="edit-row">
                            <select name="tipo_veiculo" class="select-field" id="vehicles" <%= !hasPermission ? 'disabled' : '' %>>
                                <option value="moto" <%= result.tipo_veiculo == 'moto' ? 'selected': '' %>>Moto</option>
                                <option value="carro" <%= result.tipo_veiculo == 'carro' ? 'selected': '' %>>Carro</option>
                                <option value="van" <%= result.tipo_veiculo == 'van' ? 'selected': '' %>>Van</option>
                                <option value="caminhao" <%= result.tipo_veiculo == 'caminhao' ? 'selected': '' %>>Caminhão</option>
                            </select>
                        </section>
                        <span class="error"><%= erros?.tipo_veiculo?.msg %></span>
                    </section>
                    <section class="row">
                        <label for="modelo_veiculo">Modelo do Veículo:</label>
                        <div class="edit-row">
                            <div class="input-container">
                                <input class="input-field" type="text" placeholder="Digite aqui seu modelo de veículo" readonly id="modelo_veiculo" name="modelo_veiculo" value="<%= dados?.modelo_veiculo ?? result.modelo_veiculo %>">
                                <input type="button" class="btn" value="Cancelar">
                                <button class="btn confirm">Confirmar</button>
                            </div>
                            <span class="changeCall">Alterar</span>
                        </div>
                        <span class="error"><%= erros?.modelo_veiculo?.msg %></span>
                    </section>
                </form>
            <% } %>
            <div class="containerm-p">
                <p>
                    Precisa de ajuda? Entre em contato com a
                    <a href="/ajuda">Central de Ajuda.</a>
                </p>
            </div>
        </div>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: isClient ? 'client' : 'shipper' }) %>

    <script>
        const noPermission = <%= !hasPermission %>
    </script>
    <script src="/JS/burguer.js"></script>
    <!-- alterar valores input -->
    <script src="/JS/shipper/change.js"></script>
    <!-- resize textarea -->
    <script src="/JS/shipper/profile.js"></script>
    <!-- foto perfil, mascara telefone -->
    <script src="/JS/perfil.js"></script>
</body>

</html>