<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Perfil</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/shipper/config.css">
    <link rel="stylesheet" href="/CSS/shipper/requests-modal.css">
    <link rel="stylesheet" href="/CSS/shipper/perfil-antigo.css">
    <link rel="stylesheet" href="/CSS/shipper/perfil-novo.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>

<body>

    <!-- Notificações -->
    <% if (msgs.length > 0) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('<%= msg.title %>', '<%= msg.description %>', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>

    <% if (erros) { %>
        <% Object.keys(erros).forEach(key => { %>
            <script>notify('<%= erros[key].msg %>', 'Verifique este campo', 'error')</script>
        <% }) %>
    <% } %>

    <%- include('../../partial/header-client-shipper.ejs', { isClient: autenticado.tipo == '1' ? true : false }) %>
    
    <main>
        <div class="profile-container">
                    <heaeder class="containerFlex">
                        <section class="aside-profile">
                            <div class="img-container">
                                <% if (result?.foto_de_perfil) { %>
                                    <img class="photo" src="data:image/png;base64,<%= result.foto_de_perfil.toString('base64') %>">
                                <% } else { %>
                                    <img class="photo" src="/imgs/client/user-icon.svg" alt="">
                                <% } %>
                
                                <% if (hasPermission) { %>
                                    <form class="update-img" action="/<%= isClient ? 'cliente' : 'entregador' %>/perfil/<%= result.usuario_id %>?_method=PUT" method="post" enctype="multipart/form-data">
                                        <input type="file" name="foto_de_perfil" id="foto_perfil" class="input-foto">
                                        <label for="foto_perfil" class="label-foto">
                                            <span class="label-text">Alterar foto de perfil</span>
                                        </label>
                                    </form>
                                <% } %>
                                
                            </div>
                            <form id="form-perfil-box" class="form-perfil <%= !hasPermission ? 'disable-form' : '' %>" action="/<%= isClient ? 'cliente' : 'entregador' %>/perfil/<%= result.usuario_id %>?_method=PUT" method="post">
                                <div class="row">
                                    <label for="email" style="font-size: 24px ;">Email: </label>
                                    <div class="edit-row">
                                        <div class="input-container">
                                            <input class="input-field" style="font-size: 20px ;" type="text" placeholder="Digite aqui seu email" readonly id="email" name="email_usuario" value="<%= dados?.email_usuario ?? result.email_usuario %>">
                                            <input type="button" class="btn" value="Cancelar">
                                            <button class="btn confirm">Confirmar</button>
                                        </div>
                                        <img class="changeCall" src="/imgs/client/edit-icon.svg" alt="">
                                    </div>
                                    <span class="error"><%= erros?.email_usuario?.msg %></span>
                                </div>
                
                                <div class="row">
                                    <label for="number" style="font-size: 24px;">Telefone: </label>
                                    <div class="edit-row">
                                        <div class="input-container">
                                            <input class="input-field" style="font-size: 20px ;" type="text" placeholder="Digite aqui seu telefone" readonly id="number" name="telefone_usuario" maxlength="15" value="<%= dados?.telefone_usuario ?? result.telefone_usuario %>">
                                            <input type="button" class="btn" value="Cancelar">
                                            <button class="btn confirm">Confirmar</button>
                                        </div>
                                        <img class="changeCall" src="/imgs/client/edit-icon.svg" alt="">
                                    </div>
                                    <span class="error"><%= erros?.telefone_usuario?.msg %></span>
                                </div> 
                
                                <!-- <div class="row">
                                    <label for="descricao">Descrição: </label>
                                    <div class="edit-row">
                                        <div class="input-container">
                                            <textarea class="input-field" placeholder="Digite aqui sua descrição" readonly id="descricao" name="descricao_usuario"><%= dados?.descricao_usuario ?? result.descricao_usuario %></textarea>
                                            <span class="count">0/200</span>
                                            <input type="button" class="btn" value="Cancelar">
                                            <button class="btn confirm">Confirmar</button>
                                        </div>
                                        <img class="changeCall" src="/imgs/client/edit-icon.svg" alt="">
                                    </div>
                                    <span class="error"><%= erros?.descricao_usuario?.msg %></span>
                                </div> -->
                            </form>
                            
                            </section>
                        </section>          
                            
                         
                            
                            <div class="contanerRow">
                                <form class="form-perfil <%= !hasPermission ? 'disable-form' : '' %>" action="/<%= isClient ? 'cliente' : 'entregador' %>/perfil/<%= result.usuario_id %>?_method=PUT" id="form-perfil" method="post">
                                    <div class="row">
                                       <!--  <label for="name">Nome: </label> -->
                                        <div class="edit-row">
                                            <div class="input-container">
                                                <input class="input-field" type="text" style="font-size: 2rem;" placeholder="Digite aqui seu nome" readonly id="name" name="nome_usuario" value="<%= dados?.nome_usuario ?? result.nome_usuario %>">
                                                <input type="button" class="btn" value="Cancelar">
                                                <button class="btn confirm">Confirmar</button>
                                            </div>
                                            <img class="changeCall" src="/imgs/client/edit-icon.svg" alt="">
                                        </div>
                                        <span class="error"><%= erros?.nome_usuario?.msg %></span>
                                    </div>
                                    <div class="row">
                                        <!-- <label for="descricao">Descrição: </label> -->
                                        <div class="edit-row">
                                            <div class="input-container">
                                                <textarea  class="input-field" placeholder="Digite aqui sua descrição" readonly id="descricao" name="descricao_usuario"><%= dados?.descricao_usuario ?? result.descricao_usuario %></textarea>
                                                <span class="count">0/200</span>
                                                <input type="button" class="btn" value="Cancelar">
                                                <button class="btn confirm">Confirmar</button>
                                            </div>
                                            <img class="changeCall" src="/imgs/client/edit-icon.svg" alt="">
                                        </div>
                                        <span class="error"><%= erros?.descricao_usuario?.msg %></span>
                                    </div>
                                </form>

                                <section style="display: flex; gap: 20px;">
                                    <% if (isClient) { %>
                                        <div>
                                            <span class="spanBox" style="font-size: 1.4rem ;">Favoritados</span>
                                            <b><p style="font-size: 32px ;"><%= data.favoritados.length %></p></b>
                                        </div>
                                        
                                        <div>
                                            <span class="spanBox" style="font-size: 1.4rem ;">Entregas Solicitadas</span>
                                            <b><p style="font-size: 32px ;"><%= data.solicitadas %></p></b>
                                        </div>
                                        
                                    <% } else { %>
                                        <div>
                                            <span class="spanBox" style="font-size: 20px ;">Clientes</span>
                                            <b><p style="font-size: 32px ;"><%= data.clientes %></p></b>
                                        </div>
                        
                                        <div>
                                            <span class="spanBox" style="font-size: 20px ;">Entregas feitas</span>
                                            <b><p style="font-size: 32px ;"><%= data.entregas %></p></b>
                                        </div>
                                    <% } %>
                                </section>

                            </div>
                            
                    </section>
                    
                   
                    

            <!-- <%# if (!isClient) { %>
                <form class="form-perfil" action="/entregador/perfil-status/<%= result.usuario_id %>?_method=PUT" method="post">
                    <section class="row row-toogle">
                        <div class="info">
                            <span class="status-online <%= result.status_disponivel == 1 ? 'offline' : '' %>"></span>
                            <span><%= result.status_disponivel == 2 ? 'Disponível' : 'Indisponível' %></span>
                        </div>
                        <% if (hasPermission) { %>
                            <input type="checkbox" name="status_disponivel" value="<%= result.status_disponivel %>" id="status">
                            <label for="status" class="toogle">
                                <article class="ball"></article>
                            </label>
                        <% } %>
                    </section>
                </form>
            <%# } %> -->

            <% if (!isClient) { %>
                <form class="form-perfil <%= !hasPermission ? 'disable-form' : '' %>" action="/entregador/veiculo/<%= result.usuario_id %>?_method=PUT" method="post">
                    <input type="hidden" name="id_entregador" value="<%= result.id_entregador %>">

                    <section class="row">
                        <label for="vehicles">Tipo do Veículo</label>
                        <section class="edit-row">
                            <select name="tipo_veiculo" class="select-field" id="vehicles" <%= !hasPermission ? 'disabled' : '' %>>
                                <option value="moto" <%= result.tipo_veiculo == 'moto' ? 'selected': '' %>>Moto</option>
                                <option value="carro" <%= result.tipo_veiculo == 'carro' ? 'selected': '' %>>Carro</option>
                                <option value="van" <%= result.tipo_veiculo == 'van' ? 'selected': '' %>>Van</option>
                                <option value="caminhao" <%= result.tipo_veiculo == 'caminhao' ? 'selected': '' %>>Caminhão</option>
                            </select>
                        </section>
                        <span class="error"><%= erros?.tipo_veiculo?.msg %></span>
                    </section>

                    <section class="row">
                        <label for="modelo_veiculo">Modelo do Veículo:</label>
                        <div class="edit-row">
                            <div class="input-container">
                                <input class="input-field" type="text" placeholder="Digite aqui seu modelo de veículo" readonly id="modelo_veiculo" name="modelo_veiculo" value="<%= dados?.modelo_veiculo ?? result.modelo_veiculo %>">
                                <input type="button" class="btn" value="Cancelar">
                                <button class="btn confirm">Confirmar</button>
                            </div>
                            <img class="changeCall" src="/imgs/client/edit-icon.svg" alt="">
                        </div>
                        <span class="error"><%= erros?.modelo_veiculo?.msg %></span>
                    </section>
                </form>
            <% } %>

        </div>
        <section class="ContainerEntregafav">
            <% if (isClient) { %>
                <h2>Entregadores Favoritados</h2>
                <% data.favoritados.forEach(usuario => { %>
                    <div class="favorito-item">
                        <% if (usuario.foto_de_perfil != null) { %>
                            <img src="data:image/png;base64,<%= usuario.foto_de_perfil.toString('base64') %>" alt="Foto de perfil">
                        <% } else { %>
                            <img src="/imgs/client/user-icon.svg" alt="Usuário sem foto">
                        <% } %>
                        <p><%= usuario.nome_usuario %></p>
                        <p><%= usuario.descricao_usuario %></p>
                    </div>
                <% }) %>
            <% } else { %>
                <h2>Avaliações</h2>
                <% data.avaliacoes.forEach(avaliacao => { %>
                    <div class="avaliacao-item">
                        <% if (avaliacao.foto_de_perfil != null) { %>
                            <img src="data:image/png;base64,<%= avaliacao.foto_de_perfil.toString('base64') %>" alt="Foto de perfil">
                        <% } else { %>
                            <img src="/imgs/client/user-icon.svg" alt="Usuário sem foto">
                        <% } %>
                        <p><%= avaliacao.nome_usuario %></p>
                        <p><%= avaliacao.feedback_avaliacao %></p>
                    </div>
                <% }) %>
            <% } %>
        </section>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: autenticado.tipo == '1' ? 'client' : 'shipper' }) %>

    <script>
        const noPermission = '<%= !hasPermission %>'
    </script>
    <script src="/JS/burguer.js"></script>
    <!-- alterar valores input -->
    <script src="/JS/shipper/change.js"></script>
    <!-- resize textarea -->
    <script src="/JS/shipper/profile.js"></script>
    <!-- foto perfil, mascara telefone -->
    <script src="/JS/perfil.js"></script>
</body>

</html>