<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Central de Ajuda</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
    <%- include('../partial/config/config.ejs') %>
    <%- include('../partial/config/config-home.ejs') %>
    <link rel="stylesheet" href="/CSS/help/help.css">
</head>
<body>
    
    <div class="hero">
        <%- include('../partial/header.ejs') %>
        <section>
            <h1 class="heading">Busque sua dúvida aqui</h1>
            <div class="search-bar">
                <input type="text" placeholder="Qual sua dúvida?">
                <div class="search-icon">
                    <img src="/imgs/help/search-icon.svg">
                </div>
            </div>
        </section>
    </div>

    <section class="blue-gradient">
        <h1 class="heading">Encontre ajuda para o que precisar</h1>
        <div class="cards-container">
            <div class="card">
                <div class="icon">
                    <img src="/imgs/help/truck-icon.svg">
                </div>
                <h2>Sou Entregador</h2>
                <div class="links-container">
                    <a href="/duvida-1">Como faço para me cadastrar como entregador</a>
                    <a href="/duvida-2">O que fazer em caso de problemas durante a entrega?</a>
                    <a href="/duvida-3">Como funciona o pagamento para os entregadores?</a>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="/imgs/help/client-icon.svg">
                </div>
                <h2>Sou Cliente</h2>
                <div class="links-container">
                    <a href="/duvida-4">Existe um limite de peso ou tamanho para os itens que posso enviar?</a>
                    <a href="/duvida-5">Posso agendar uma entrega para um horário específico?</a>
                    <a href="/duvida-6">É possível adicionar instruções especiais para a entrega?</a>
                </div>
            </div>
        </div>
    </section>

    <section class="link-section">
        <h1 class="heading">Ainda não resolveu seu problema?</h1>
        <a href="/FaleConosco" class="cta">Fale Conosco</a>
    </section>

    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/menu-burguer.ejs') %>
    
    <script src="/JS/burguer.js"></script>
    <script src="/JS/header-scroll.js"></script>
</body>
</html>