<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Cadastro de Entregador</title>
    <%- include('../partial/config/config.ejs') %>
    <%- include('../partial/config/config-home.ejs') %>
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="/CSS/client/pay-popup.css">
    <link rel="stylesheet" href="/CSS/cadastro-entregador/shipper-signin.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>
<body>

    <%
        if (erros) {
            const keys = Object.keys(erros)
            keys.forEach(key => {
                if (erros[key]) {
                    const campoAtual = key
                    const msg = erros[campoAtual].msg
                    %>
                        <script>notify('Verifique o campo <%= campoAtual %>', '<%= msg %>', 'error')</script>
                    <%
                }
            })
        }
    %>

    <main class="hero">
        <%- include('../partial/header.ejs') %>
        <section>
            <aside class="popup show">
                <section class="popup-content">
                    <% if (status == 0) { %>
                        <p>pendente</p>
                    <% } else if (status == 1) { %>
                        <p>negado</p>
                    <% } else if (status == 2) { %>     
                        <p>aceito</p>
                    <% } else { %>
                        <form action="/cadastro-entregador" enctype="multipart/form-data" method="post" class="popup-wrapper">
                            <div class="form active">
                                <section class="title">
                                    <h2>Etapa 1 de 3</h2>
                                    <h1>Verificando seus dados</h1>
                                </section>
                                <section class="form-fields">
                                    <input type="hidden" name="id_usuario" value="<%= autenticado.id %>">
                                    <select name="tipo_veiculo" required placeholder="Tipo de Veículo" class="input-field">
                                        <option value="">Tipo de Veículo</option>
                                        <option value="moto" <%= dados?.tipo_veiculo == 'moto' ? 'selected' : '' %> >Moto</option>
                                        <option value="carro" <%= dados?.tipo_veiculo == 'carro' ? 'selected' : '' %> >Carro</option>
                                        <option value="van" <%= dados?.tipo_veiculo == 'van' ? 'selected' : '' %> >Van</option>
                                        <option value="caminhao" <%= dados?.tipo_veiculo == 'caminhao' ? 'selected' : '' %> >Caminhão</option>
                                    </select>
                                    <span class="error <%= erros?.tipo_veiculo?.msg != undefined ? 'show' : '' %>"><%= erros?.tipo_veiculo?.msg %></span>

                                    <input name="modelo_veiculo" required placeholder="Modelo do Veículo" class="input-field" type="text" value="<%= dados?.modelo_veiculo %>">
                                    <span class="error <%= erros?.modelo_veiculo?.msg != undefined ? 'show' : '' %>"><%= erros?.modelo_veiculo?.msg %></span>

                                    <input name="placa" required id="placa" placeholder="Placa do Veículo" class="input-field" type="text" value="<%= dados?.placa %>">
                                    <span class="error <%= erros?.placa?.msg != undefined ? 'show' : '' %>"><%= erros?.placa?.msg %></span>

                                </section>
                                <section class="terms">
                                    <input required type="checkbox" name="terms" id="terms" <%= dados?.terms == 'on' ? 'checked' : '' %> >
                                    <label for="terms">Eu concordo com os <a href="">Termos e Condições</a> e com a Política de Privacidade da Fretus</label>
                                </section>
                                <section class="btns">
                                    <button class="cta yes" type="submit">Próxima Etapa</button>
                                </section>
                            </div>
                            <div class="form">
                                <section class="title">
                                    <h2>Etapa 2 de 3</h2>
                                    <h1>Enviando seus documentos</h1>
                                </section>
                                <section class="form-fields">
                                    <label class="file-field" for="cnh">
                                        <input required type="file" name="cnh" id="cnh">
                                        <div class="icon">
                                            <img src="/imgs/cadastro-entregador/upload-icon.svg" alt="">
                                        </div>
                                        <span class="msg">PDF ou Foto da CNH</span>
                                    </label>
                                    <label class="file-field" for="vehicle-photo">
                                        <input required type="file" name="foto_veiculo" id="vehicle-photo">
                                        <div class="icon">
                                            <img src="/imgs/cadastro-entregador/upload-icon.svg" alt="">
                                        </div>
                                        <span class="msg">Foto do Veículo</span>
                                    </label>
                                </section>
                                <section class="btns">
                                    <button class="cta no" type="submit">Etapa Anterior</button>
                                    <button class="cta yes" type="submit">Próxima Etapa</button>
                                </section>
                            </div>
                            <div class="form">
                                <section class="title">
                                    <h2>Etapa 3 de 3</h2>
                                    <h1>Criando seu Perfil</h1>
                                </section>
                                <section class="form-fields">
                                    <input required type="file" name="foto_perfil" id="profile">
                                    <label class="file-field" for="profile">
                                        <div class="icon">
                                            <img src="/imgs/cadastro-entregador/upload-icon.svg" alt="">
                                        </div>
                                        <span class="msg">Foto de Perfil</span>
                                    </label>
                                    <input name="raio_de_atuacao" required placeholder="Raio de atuação (em km)" class="input-field" type="text" value="<%= dados?.raio_de_atuacao %>">
                                    <span class="error <%= erros?.raio_de_atuacao?.msg != undefined ? 'show' : '' %>"><%= erros?.raio_de_atuacao?.msg %></span>

                                    <textarea name="descricao" required class="input-field" placeholder="Descrição" value=""><%= dados?.descricao %></textarea>
                                    <span class="error <%= erros?.descricao?.msg != undefined ? 'show' : '' %>"><%= erros?.descricao?.msg %></span>
                                </section>
                                <section class="btns">
                                    <button class="cta no" type="submit">Etapa Anterior</button>
                                    <button class="cta yes" type="submit">Enviar</button>
                                </section>
                            </div>
                        </form>
                    <% } %>
                     
                </section>
            </aside>
        </section>
    </main>

    <%- include('../partial/menu-burguer.ejs', { type: 'home' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/cadastro-entregador/form.js"></script>
    <% if (erros) { %>
        <script>
            let firstError = '<%= Object.keys(erros)[0] %>'
            goTo(firstError)
        </script>
    <% } %>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="/JS/cadastro-entregador/mask.js"></script>
</body>
</html>