<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Cadrasto</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/cadastro/cadastro.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>


    <body>
        <%

            var msgErro = {nome:"", cpf: "",email:"", senha:"", nasc:"", tel:""}
            var cssErro = {nome:"",cpf: "", email:"", senha:"", nasc:"", tel:""}
            var cssErroBorda = {nome:"",cpf: "", email:"", senha:"", nasc:"", tel:""}
            let valorCampos = {nome:"",cpf: "", email:"", senha:"", nasc:"", tel:""}
            if(dados && dados!=null){
                valorCampos = dados
            }

            if (listaErros && listaErros.errors) {
                listaErros.errors.forEach((itemErro) => {
                    if (itemErro.path == "nome") {
                        msgErro.nome = itemErro.msg;
                        cssErro.nome = "erroForm";
                        cssErroBorda.nome = "erroInput";
                        %>
                            <script>notify('Verifique o campo nome', '<%= msgErro.nome %>', 'error')</script>
                        <%
                    } else if (itemErro.path == "cpf") {
                        msgErro.cpf = itemErro.msg;
                        cssErro.cpf = "erroForm";
                        cssErroBorda.cpf = "erroInput";
                        %>
                            <script>notify('Verifique o campo cpf', '<%= msgErro.cpf %>', 'error')</script>
                        <%
                    } else if (itemErro.path == "email") {
                        msgErro.email = itemErro.msg;
                        cssErro.email = "erroForm";
                        cssErroBorda.email = "erroInput";
                        %>
                            <script>notify('Verifique o campo email', '<%= msgErro.email %>', 'error')</script>
                        <%
                    } else if (itemErro.path == "senha") {
                        msgErro.senha = itemErro.msg;
                        cssErro.senha = "erroForm";
                        cssErroBorda.senha = "erroInput";
                        %>
                            <script>notify('Verifique o campo senha', '<%= msgErro.senha %>', 'error')</script>
                        <%
                    } else if (itemErro.path == "nasc") {
                        msgErro.nasc = itemErro.msg;
                        cssErro.nasc = "erroForm";
                        cssErroBorda.nasc = "erroInput";
                        %>
                            <script>notify('Verifique o campo data de nascimento', '<%= msgErro.nasc %>', 'error')</script>
                        <%
                    } else if (itemErro.path == "tel") {
                        msgErro.tel = itemErro.msg;
                        cssErro.tel = "erroForm";
                        cssErroBorda.tel = "erroInput";
                        %>
                            <script>notify('Verifique o campo telefone', '<%= msgErro.tel %>', 'error')</script>
                        <%
                    }
                });
            }

        %>
        <section class="fretus">
            <h1><a href="/"><img class="logo" src="/imgs/logotca.png"></a></h1>
        </section>
        <section class="container">
            <h2>Você deseja se cadastrar como?</h2>
            <form id="cliente" action="/cadastro" method="post" class="login-form">
                <section class="buttonsForm">
                    <input type="radio" name="type" id="tipoCliente" value="1" checked>
                    <label for="tipoCliente">Cliente</label>
                    <input type="radio" name="type" id="tipoEntregador" value="2" <% if (dados?.type && dados?.type
                        !='1' ) { %>
                    checked
                    <% } %>
                        >
                        <label for="tipoEntregador">Entregador</label>
                        <article class="btnColor"></article>
                </section>

                <input class="<%= cssErroBorda.nome %>" type="text" name="nome" id="nome" placeholder="Seu nome " value="<%=valorCampos.nome%>">
                <span class="<%= cssErro.nome %>">
                    <%= msgErro.nome %>
                </span>
                <!-- <p id="messageNome"></p> -->

                <input class="<%= cssErroBorda.nasc %>" type="text" name="nasc" id="nasc" placeholder="Sua data de nascimento " value="<%=valorCampos.nasc %>" onfocus="this.type='date'">
                <span class="<%= cssErro.nasc %>">
                    <%= msgErro.nasc %>
                </span>

                <input class="<%= cssErroBorda.tel %>" type="text" name="tel" id="tel" placeholder="Seu telefone " value="<%=valorCampos.tel%>">
                <span class="<%= cssErro.tel %>">
                    <%= msgErro.tel %>
                </span>

                <input type="text" name="cpf" id="cpf" autocomplete="off" maxlength="14" class="cpf <%= cssErroBorda.cpf %>" placeholder="CPF"
                    value="<%=valorCampos.cpf%>">
                <span class="<%= cssErro.cpf %>">
                    <%= msgErro.cpf %>
                </span>
                <!--  <p id="messageCpf"></p> -->
                <input type="text" name="email" id="email" class="<%= cssErroBorda.email %>" placeholder="Seu e-mail" value="<%=valorCampos.email%>">
                <span class="<%= cssErro.email %>">
                    <%= msgErro.email %>
                </span>
                <!-- <p id="messageEmail"></p> -->
                <section class="input__wrapper">
                    <input type="password" name="senha" id="senha" placeholder="Sua senha" class="input__field <%= cssErroBorda.senha %>"
                        placeholder="Senha" value="<%=valorCampos.senha%>">
                    <span class="<%= cssErro.senha %>">
                        <%= msgErro.senha %>
                    </span>
                    <!-- <p id="messageSenha"></p> -->
                    <!--  <label for="password" class="input__label"></label> -->
                    <img alt="Eye Icon" title="Eye Icon" src="/imgs/login-cadastro/eye-off.svg" class="input__icon">
                </section>
                <p>Já tem uma conta? <a href="/login">Acesse aqui.</a></p>
                <button type="submit" id="criar1">Cadastrar</button>
                <section class="alternative">
                    <span>ou</span>
                </section>
                <section class="social-media">
                    <a href="#" class="social-icon">
                        <img src="/imgs/login-cadastro/icons8-google-logo.svg" width="45" height="45">
                        <span>Entrar com google</span>
                    </a>
                   <!--  <a href="#" class="social-icon facebook">
                        <img src="/imgs/login-cadastro/icons8-facebook-novo.svg" width="45" height="45">
                        <span>Entrar com facebook</span>
                    </a> -->
                </section>
            </form>
        </section>
        <!-- <section id="loadingModal" class="modal">
            <section class="modal-content">
              <div class="loader"></div>
              <p>Aguarde, estamos processando sua solicitação...</p>
            </section>
        </section> -->
          

        <script src="/JS/login-cadastro/validacao.js"></script>
        <script src="/JS/login-cadastro/eye.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script src="/JS/login-cadastro/mascara.js"></script>
        <!-- <script src="/JS/login-cadastro/button.js"></script> -->

    </body>
   <!--  <script>
        document.getElementById('cliente').addEventListener('submit', function(event) {
            event.preventDefault(); 
            
            document.getElementById('loadingModal').style.display = 'block';
            
            setTimeout(function() {
              document.getElementById('cliente').submit(); 
            }, 2000);
          });
          
    </script> -->

</html>