<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Cadrasto</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/cadastro/cadastro.css">
</head>


<body>

   
    <%
        var msgErro = {nome:"", email:"", senha:""}
        var cssErro = {nome:"", email:"", senha:""}
        let valorCampos = {nome:"", email:"", senha:""}
        if(dados && dados!=null){
            valorCampos = dados
        }

        if(listaErros){
            listaErros.errors.forEach((itemErro)=>{
                if(itemErro.path == "nome"){
                    msgErro.nome = itemErro.msg
                    cssErro.nome = "erroForm"
                } else if(itemErro.path == "email"){
                    msgErro.email = itemErro.msg
                    cssErro.email = "erroForm"
                } else if(itemErro.path == "senha"){
                    msgErro.senha = itemErro.msg
                    cssErro.senha = "erroForm"
                } 
            });
        }

    %>

        <section class="fretus">
            <h1><a href="/"><img class="logo" src="/imgs/logotca.png"></a></h1>
        </section>
        <section class="container">
            <h2>Você deseja se cadastrar como?</h2>
            <form id="cliente" action="/cadastro" method="post" class="login-form">
                <section class="buttonsForm">
                    <input type="radio" name="type" id="tipoCliente" value="1" checked>
                    <label for="tipoCliente">Cliente</label>
                    <input type="radio" name="type" id="tipoEntregador" value="2" 
                        <% if (dados?.type && dados?.type != '1') { %>
                            checked
                        <% } %>
                    >
                    <label for="tipoEntregador">Entregador</label>
                    <article class="btnColor"></article>
                </section>
                
                <input type="text" name="nome" id="nome" placeholder="Seu nome " value="<%=valorCampos.nome%>">
                <span class="<%= cssErro.nome %>"><%= msgErro.nome %></span>
                <!-- <p id="messageNome"></p> -->
                <!--   <input type="text" name="cpf" id="cpf" autocomplete="off" maxlength="11" class="cpf"
                    placeholder="CPF/CNPJ"> -->
                <!--  <p id="messageCpf"></p> -->
                <input type="text" name="email" id="email" placeholder="Seu e-mail" value="<%=valorCampos.email%>">
                <span class="<%= cssErro.email %>"><%= msgErro.email %></span>
                <!-- <p id="messageEmail"></p> -->
                <section class="input__wrapper">
                    <input type="password" name="senha" id="senha" placeholder="Sua senha" class="input__field"
                        placeholder="Senha" value="<%=valorCampos.senha%>">
                        <span class="<%= cssErro.senha %>"><%= msgErro.senha %></span>
                    <!-- <p id="messageSenha"></p> -->
                    <!--  <label for="password" class="input__label"></label> -->
                    <img alt="Eye Icon" title="Eye Icon" src="/imgs/login-cadastro/eye-off.svg" class="input__icon">
                </section>
                <p>Já tem uma conta? <a href="/login">Acesse aqui.</a></p>
                <button type="submit" id="criar1">Cadastrar</button>
                <section class="alternative">
                    <span>ou</span>
                </section>
                <section class="social-media">
                    <a href="#" class="social-icon">
                        <img src="/imgs/login-cadastro/icons8-google-logo.svg" width="45" height="45">
                        <span>Entrar com google</span>
                    </a>
                    <a href="#" class="social-icon facebook">
                        <img src="/imgs/login-cadastro/icons8-facebook-novo.svg" width="45" height="45">
                        <span>Entrar com facebook</span>
                    </a>
                </section>
            </form>
        </section>

        <script src="/JS/login-cadastro/validacao.js"></script>
        <script src="/JS/login-cadastro/eye.js"></script>
        <!-- <script src="/JS/login-cadastro/mascara.js"></script> -->
        <!-- <script src="/JS/login-cadastro/button.js"></script> -->

</body>

</html>