<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Dúvidas</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
    <%- include('../partial/config/config.ejs') %>
    <%- include('../partial/config/config-home.ejs') %>
    <link rel="stylesheet" href="/CSS/quotes/main.css">
</head>

<body>
    
    <%- include('../partial/header.ejs') %>
    
    <main>
        <h1 class="heading">O que fazer em caso de problemas durante a entrega?</h1>
        <ol>
            <ul>
                <l1>Entendemos que, ocasionalmente, podem ocorrer problemas durante o processo de entrega. Estamos
                    comprometidos em oferecer a você a melhor experiência possível e estamos aqui para ajudar a resolver
                    qualquer contratempo que possa surgir. Se você enfrentar problemas durante a entrega, siga estas
                    etapas para garantir uma resolução eficaz:</li>
        </ol>

        </ul>
        <ol>

            <li> Entre em Contato Conosco Imediatamente:

                <ul>
                    <li> Assim que identificar um problema, entre em contato conosco imediatamente. Nossa equipe de
                        suporte ao cliente está disponível para ajudar a solucionar suas preocupações


                    </li>
                </ul>
            </li>
            <li> Forneça Detalhes Precisos:

                <ul>
                    <li>Ao entrar em contato conosco, seja o mais detalhado possível ao descrever o problema. Isso
                        inclui fornecer informações como o número de rastreamento da entrega, a data e a hora da
                        ocorrência do problema, e uma descrição completa da situação</li>
                </ul>
            </li>
            <li> Documente o Problema:
                <ul>
                    <li>Fotografe ou grave vídeos para documentar o estado dos produtos ou da embalagem. Isso pode ser
                        valioso para avaliar o dano e acelerar o processo de resolução.</li>
                </ul>
            </li>

            <l1>Seja qual for o problema, nossa equipe está à disposição para ajudar e trabalhar em conjunto para
                encontrar a melhor solução. Sua satisfação é fundamental para nós, e estamos comprometidos em superar
                suas expectativas sempre que possível</l1>
        </ol>
    </main>

    <section class="contact">
        <h1 class="heading">Ainda não resolveu seu problema?</h1>
        <a href="/Privacidade" class="cta">Fale Conosco</a>
    </section>



    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/menu-burguer.ejs') %>
    
    <script src="/JS/burguer.js"></script>
    <script src="/JS/header-scroll.js"></script>
</body>

</html>