<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Dúvidas</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
    <%- include('../partial/config/config.ejs') %> 
    <%- include('../partial/config/config-home.ejs') %> 
    <link rel="stylesheet" href="/CSS/quotes/main.css">
</head>

<body>

    <%- include('../partial/header.ejs') %>

    <main>
        <h1 class="heading">Como faço para me cadastrar como entregador?</h1>
        <ol>
            <li>Acesse o Nosso Solicite:
                <ul>
                    <li>Visite nosso site <a href="/">clicando aqui</a> e vá para a seção de cadastro de motoristas/entregadores. Você encontrará um link de "Cadastro" em nossa página inicial.</li>
                </ul>
            </li>
            <li>Preencha o Formulário de Cadastro:
                <ul>
                    <li>Ao clicar na opção de cadastro, você será redirecionado para um formulário de inscrição. Este formulário é projetado para coletar informações essenciais, como seu nome, endereço de e-mail, CPF e etc.</li>
                </ul>
            </li>
            <li>Forneça Documentos Necessários:
                <ul>
                    <li>Em seguida, você precisará fornecer cópias de documentos obrigatórios, como sua carteira de motorista válida, registro do veículo (se aplicável), e outros documentos que possam ser exigidos pela legislação local ou pela nossa empresa.</li>
                </ul>
            </li>
            <li>Verificação e Avaliação:
                <ul>
                    <li>Após o envio dos documentos, nossa equipe de suporte revisará suas informações e realizará uma avaliação inicial. Isso pode incluir verificações de antecedentes, histórico de condução e outros critérios estabelecidos pela empresa.</li>
                </ul>
            </li>
            <li>Aprovação e Ativação:
                <ul>
                    <li>Após a conclusão bem-sucedida do processo de cadastro, você receberá uma notificação de aprovação. Isso ativará sua conta como motorista/entregador em nossa plataforma.</li>
                </ul>
            </li>
            <li>Comece a Aceitar Pedidos:
                <ul>
                    <li>Parabéns! Agora você está pronto para começar a receber e aceitar pedidos de entrega. Use nossa plataforma online para ficar disponível para pedidos.</li>
                </ul>
            </li>
        </ol>
    </main>
    <section class="contact">
        <h1 class="heading">Ainda não resolveu seu problema?</h1>
        <a href="/Privacidade" class="cta">Fale Conosco</a>
    </section>

    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/menu-burguer.ejs') %>
    
    <script src="/JS/burguer.js"></script>
    <script src="/JS/header-scroll.js"></script>

</body>
</html>