<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Dúvidas</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">

    <%- include('../partial/config/config.ejs') %>
    <%- include('../partial/config/config-home.ejs') %>
    <link rel="stylesheet" href="/CSS/quotes/main.css">

</head>

<body>
    <%- include('../partial/header.ejs') %>

    <main>
        <h1 class="heading">Como funciona o pagamento para os entregadores?</h1>
        <ol> 
            <ul>
                <l1>O sistema de pagamento para nossos entregadores é uma parte essencial do nosso compromisso em manter uma parceria justa e transparente. Entendemos que a clareza e a confiabilidade no pagamento são fundamentais para a satisfação de nossos entregadores. Portanto, gostaríamos de explicar detalhadamente como funciona o pagamento em nossa plataforma:</l1> 
            </ol>     
            </ul>
            <ol>
            <li> Recebimento de Pedidos:
                <ul> 
                    <li> O processo começa quando você, como entregador, aceita um pedido por meio de nossa plataforma. Cada pedido terá um valor de pagamento associado, que pode variar com base em diversos fatores, como a distância, a complexidade da entrega e a demanda atual, ou com o que você combinou com o cliente (não nos responsabilizamos por essa parte).</li>
                </ul>
            </li>
            <li> Pagamento Regular:
                <ul>
                    <li>Os pagamentos aos entregadores geralmente são feitos regularmente, de acordo com uma programação definida. Isso pode ser semanal ou quinzenal. Os valores são transferidos para a conta bancária fornecida por você durante o processo de cadastro.</li>
                </ul>
            </li>
            <li>Transparência e Comprovantes:
                <ul>
                    <li>Fornecemos comprovantes detalhados de cada transação para garantir total transparência no processo de pagamento. Você pode acessar esses comprovantes em sua conta na plataforma </li>
                </ul>
            </li>

            <l1>Entendemos que você confia em nós para fornecer uma plataforma justa e confiável para ganhar a vida como entregador. Estamos comprometidos em garantir que você seja devidamente compensado por seu trabalho e que todo o processo de pagamento seja transparente e eficiente. Estamos aqui para ajudar a garantir que sua experiência como entregador seja positiva e recompensadora </l1>
        </ol>
    </main>

    <section class="contact">
        <h1 class="heading">Ainda não resolveu seu problema?</h1>
        <a href="/FaleConosco" class="cta">Fale Conosco</a>
    </section>

    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/menu-burguer.ejs') %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/header-scroll.js"></script>
</body>
</html>