<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Dúvidas</title>
    <%- include('../partial/config/config.ejs') %> 
    <%- include('../partial/config/config-home.ejs') %> 
    <link rel="stylesheet" href="/CSS/quotes/main.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>

<body>

    <%- include('../partial/header.ejs') %>

    <!-- Notificações -->
    <% if (msgs.length > 0) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('<%= msg.text %>', '<%= msg.text %> com sucesso', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>

    <main>
        <h1 class="heading"><%= results.titulo_duvida %></h1>
        <p class="date"><%= results.data_duvida.toLocaleDateString() %></p>
        <%- content %>
    </main>
    <section class="contact">
        <h1 class="heading">Ainda não resolveu seu problema?</h1>
        <a href="/FaleConosco" class="cta">Fale Conosco</a>
    </section>

    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/menu-burguer.ejs', { type: 'home' }) %>
    
    <script src="/JS/burguer.js"></script>
    <script src="/JS/header-scroll.js"></script>

</body>
</html>