<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Dúvidas</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
    <%- include('../partial/config/config.ejs') %>
    <%- include('../partial/config/config-home.ejs') %>
    <link rel="stylesheet" href="/CSS/quotes/main.css">

</head>

<body>
    <%- include('../partial/header.ejs') %>

    <main>
        <h1 class="heading">É possível adicionar instruções especiais para a entrega?</h1>
        <l1> Sim, é absolutamente possível adicionar instruções especiais para suas entregas em nossa plataforma. Entendemos que
            cada entrega pode ter suas particularidades e que você pode ter necessidades específicas para garantir que a entrega
            seja realizada da maneira desejada</l1>
        <ol>
            <h4>Como Adicionar Instruções Especiais:</h4>
        </ol>
        <ol>
        
            <li> Durante o Processo de Solicitação:
                <ul>
                    <li>Após solicitar uma entrega em nossa plataforma, poderá combinar a entrega com o entregador, pelo chat.
                        Também é possível deixar uma observação ao motorista, na página de pagamento.</li>
                </ul>
            </li>
            <li> Clareza e Detalhes:
        
                <ul>
                    <li>Ao fornecer instruções especiais, é fundamental ser claro e detalhado. Quanto mais informações você
                        fornecer, melhor o entregador poderá atender às suas expectativas.</li>
                </ul>
            </li>
            <li> Garantia de Privacidade e Segurança:
                <ul>
                    <li>Suas instruções especiais são tratadas com sigilo e respeito à sua privacidade Elas são destinadas
                        exclusivamente ao entregador responsável pela sua entrega </li>
                </ul>
            </li>
            <l1> Esteja à vontade para adicionar instruções especiais sempre que necessário durante o processo de solicitação.
                Estamos aqui para atender às suas necessidades individuais e garantir que suas entregas sejam realizadas
                conforme suas preferências.</l1>
        </ol>
    </main>

    <section class="contact">
        <h1 class="heading">Ainda não resolveu seu problema?</h1>
        <a href="/FaleConosco" class="cta">Fale Conosco</a>
    </section>

    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/menu-burguer.ejs') %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/header-scroll.js"></script>
</body>
</html>