<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Fale Conosco</title>
    <%- include('../partial/config/config.ejs') %>
    <%- include('../partial/config/config-home.ejs') %>
    <link rel="stylesheet" href="/CSS/client/FaleConosco.css">

    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>

<body>

    <%- include('../partial/header.ejs', { autenticado: autenticado }) %>

    <%

    var msgErro = {nome:"",cpf:"", email:"", tipo:"",assunto:"", mensagem:""}
    var cssErro = {nome:"",cpf:"",mail:"", tipo:"",assunto:"",mensagem:""}
    var cssErroBorda = {nome:"",cpf:"",email:"", tipo:"",assunto:"",mensagem:""}
    let valorCampos = {nome:"",cpf:"", email:"", tipo:"",assunto:"",mensagem:""}
    if(dados && dados!=null){
        valorCampos = dados
    }

    if (listaErros && listaErros.errors) {
        listaErros.errors.forEach((itemErro) => {
            if (itemErro.path == "nome") {
                msgErro.nome = itemErro.msg;
                cssErro.nome = "erroForm";
                cssErroBorda.nome = "erroInput";
                %>
                    <script>notify('Verifique o campo nome', '<%= msgErro.nome %>', 'error')</script>
                <%
            }
            else if (itemErro.path == "cpf") {
                msgErro.cpf = itemErro.msg;
                cssErro.cpf = "erroForm";
                cssErroBorda.cpf = "erroInput";
                %>
                <script>notify('Verifique o campo cpf', '<%= msgErro.cpf %>', 'error')</script>
                <%
            }
            else if (itemErro.path == "email") {
                msgErro.email = itemErro.msg;
                cssErro.email = "erroForm";
                cssErroBorda.email = "erroInput";
                %>
                <script>notify('Verifique o campo email', '<%= msgErro.email %>', 'error')</script>
                <%
               
            }
            else if (itemErro.path == "tipo") {
                msgErro.tipo = itemErro.msg;
                cssErro.tipo = "erroForm";
                cssErroBorda.tipo = "erroInput";
                %>
                <script>notify('Verifique o campo tipo', '<%= msgErro.tipo %>', 'error')</script>
                <%
            }
            else if (itemErro.path == "assunto") {
                msgErro.assunto = itemErro.msg;
                cssErro.assunto = "erroForm";
                cssErroBorda.assunto = "erroInput";
                %>
                <script>notify('Verifique o campo assunto', '<%= msgErro.assunto %>', 'error')</script>
                <%
            }
            else if (itemErro.path == "mensagem") {
                msgErro.mensagem = itemErro.msg;
                cssErro.mensagem = "erroForm";
                cssErroBorda.mensagem = "erroInput";
                %>
                <script>notify('Verifique o campo mensagem', '<%= msgErro.mensagem %>', 'error')</script>
                <%
               
            }
        });
    }
    %>

    <main>
        <br><br><br>
        <section class="container">
            <form class="form-contain" action="FaleConosco" method="post">
                <h1>Fale com a Fretus por aqui</h1>
                <input class="<%= cssErroBorda.nome %>" type="text" name="nome" id="nome" placeholder="Seu nome " value="<%= valorCampos.nome %>">
                <span class="<%= cssErro.nome %>">
                    <%= msgErro.nome %>
                </span>
                <input type="text" name="cpf" id="cpf" autocomplete="off" maxlength="14" class="cpf <%= cssErroBorda.cpf %>" placeholder="CPF"
                value="<%=valorCampos.cpf%>">
                <span class="<%= cssErro.cpf %>">
                    <%= msgErro.cpf %>
                </span>

                <input type="text" name="email" id="email" class="<%= cssErroBorda.email %>" placeholder="Seu e-mail" value="<%=valorCampos.email%>">

                <span class="<%= cssErro.email %>">
                    <%= msgErro.email %>
                </span>

                <section class="radiosBox">
                    <label>
                        <input type="radio" name="tipo" value="Cliente" <%= valorCampos.tipo === 'Cliente' ? 'checked' : '' %> class="<%= cssErroBorda.tipo %>"> Cliente
                      </label>
                      <label>
                        <input type="radio" name="tipo" value="Entregador" <%= valorCampos.tipo === 'Entregador' ? 'checked' : '' %> class="<%= cssErroBorda.tipo %>"> Entregador
                      </label>
                      <span class="<%= cssErro.tipo %>">
                        <%= msgErro.tipo %>
                      </span>                      
                </section>
                  

                <input type="text" name="assunto" placeholder="Assunto:" maxlength="30" class="<%= cssErroBorda.assunto %>" value="<%=valorCampos.assunto%>">
                <span class="<%= cssErro.assunto %>">
                    <%= msgErro.assunto %>
                </span>



                <textarea style="resize: none" name="mensagem" placeholder="Mensagem:" class="<%= cssErroBorda.mensagem %>" value="<%=valorCampos.mensagem%>"></textarea>

                <span class="<%= cssErro.mensagem %>">
                    <%= msgErro.mensagem %>
                </span>

                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/menu-burguer.ejs', { type: 'home' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/header-scroll.js"></script>
    <script src="/JS/FaleConsoco/Mascara.js"></script>
</body>

</html>
