<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fretus - Login</title>
  <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/CSS/index.css">
  <link rel="stylesheet" href="/CSS/login/login.css">
</head>

<body>
  <%

  var msgErro = {email:"", senha:""}
  var cssErro = {email:"", senha:""}
  var cssErroBorda = {email:"", senha:""}
  let valorCampos = {email:"", senha:""}
  if(dados && dados!=null){
      valorCampos = dados
  }

  if (listaErros && listaErros.errors) {
      listaErros.errors.forEach((itemErro) => {
          if (itemErro.path == "email") {
              msgErro.email = itemErro.msg;
              cssErro.email = "erroForm";
              cssErroBorda.email = "erroInput";
              %>
                  <script>notify('Verifique o campo email', '<%= msgErro.email %>', 'error')</script>
              <%
          } else if (itemErro.path == "senha") {
              msgErro.senha = itemErro.msg;
              cssErro.senha = "erroForm";
              cssErroBorda.senha = "erroInput";
              %>
                  <script>notify('Verifique o campo senha', '<%= msgErro.senha %>', 'error')</script>
              <%
          }
      });
  }
%>
  <section class="fretus">
    <h1 class="logo-container"><a href="/"><img class="logo" src="/imgs/logotca.png"></a></h1>
  </section>
  <main class="container">
    <h1>Bem-vindo de volta! </h1>
    <form action="Login" id="form" method="post">
      <section>
        <input type="text" name="email" id="email" class="<%= cssErroBorda.email %>" placeholder="Seu e-mail" value="<%=valorCampos.email%>">
        <span class="<%= cssErro.email %>">
            <%= msgErro.email %>
        </span>
      </section>
      <section class="box-icon">
        <article class="input__wrapper">
          <input type="password" name="senha" id="senha" placeholder="Sua senha" class="input__field <%= cssErroBorda.senha %>"
          placeholder="Senha" value="<%=valorCampos.senha%>">
            <span class="<%= cssErro.senha %>">
                <%= msgErro.senha %>
            </span>
          <label for="password" class="input__label"></label>
          <img alt="Eye Icon" title="Eye Icon" src="/imgs/login-cadastro/eye-off.svg" class="input__icon">
        </article>
      </section>
      <p>
        Ainda não tem uma conta?
        <a href="/cadastro">Acesse aqui.</a>
      </p>
      <input type="submit" value="Entrar" id="entrar">
      <section class="alternative">
        <span>ou</span>
      </section>
      <section class="social-media">
        <a href="#" class="social-icon">
          <img src="/imgs/login-cadastro/icons8-google-logo.svg" width="45" height="45">
          <span>Entrar com google</span>
        </a>
       <!--  <a href="#" class="social-icon facebook">
          <img src="/imgs/login-cadastro/icons8-facebook-novo.svg" width="45" height="45">
          <span>Entrar com facebook</span>
        </a> -->
      </section>
    </form>
  </main>
  <script src="/JS/login-cadastro/eye.js"></script>
  <!-- <script src="/JS/login-cadastro/validacao.js"></script> -->
</body>

</html>