<input name="titulo" type="text" placeholder="Título" value="<%= quotes?.titulo || quotes?.titulo_duvida %>" class="<%= customError.titulo?.class %> " id="input_test">
<span>
    <%= customError.titulo?.msg %>
</span>
<textarea name="conteudo" class="<%= customError.conteudo?.class %>" cols="30" rows="10"
    placeholder="Conteudo (Markdown)"><%= quotes?.conteudo || quotes?.conteudo_duvida %></textarea>
<span>
    <%= customError.conteudo?.msg %>
</span>
<button class="cta">Enviar</button>