<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Admin</title>
    <%- include('../../../partial/config/config.ejs') %>
    <%- include('../../../partial/config/config-adm.ejs') %>

    <link rel="stylesheet" href="/CSS/adm/CadastroAdm/detalhes&Novo_Adm.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>

<body>

    <%- include('../../../partial/adm/sidebar.ejs') %>

    <!-- Notificações -->
    <% if (msgs.length > 0) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('<%= msg.text %>', '<%= msg.text %> com sucesso', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>


        <main>

            </section>
            <% result.forEach(item=> { %>
                <section class="LinkUser">

                    <% if (item.tipo_usuario =="1") { %>
                        <a href="/admin/cadastroAdm/clientes">
                            <h3><- volta para página anterior </h3>
                        </a>
                    <% } else { %>
                        <a href="/admin/cadastroAdm/entregador">
                            <h3><- volta para página anterior </h3>
                        </a>
                    <% } %>
            <section class="Box_textEditar">
                <h1>Página de Editar usuário</h1>
                <h2>Usuário: <%=item.nome_usuario%> - ID: <%=item.id_usuario%></h2>
            </section>
                <% }) %>
                    <section class="containerDetealhes">
                        <% result.forEach(item=> { %>
                            <section class="ContainerAdm_Use">
                                <header class="Header_container">
                                    <article class="boxDados">
                                        <span class="name_user">Nome Usuário:
                                            <%= item.nome_usuario %>
                                        </span>
                                    </article>
                                    <article class="boxDados">
                                        <span>Status: Status </span>
                                    </article>

                                </header>
                                <article class="DadosUserIMG">
                                    <img src="/imgs/adm/incon_people.svg">
                                </article>
                                <article class="boxDados DADOS">


                                    <!-- <span><b>SENHA Usuário:</b>  <%= item.senha_usuario %></span><BR><BR>
                            <span><b>TELEFONE Usuário:</b>  VAZIO  </span><BR><BR>
                                
                                <% if ( item.tipo_usuario =="2") { %>

                                    <section class="DocumentoUserEnt">
                                        
                                        <h1 > DOCUMENTOS: </h1>

                                    </section>

                                    

                                <% }  %>
                        </article> -->
                                    <form action="/admin/cadastroAdm/editar/<%= item.id_usuario %>?_method=PUT"
                                        method="post" class="formEdite">
                                        <article class="flex-dadosedite">
                                            <span><b>NOME Usuário:</b>
                                                <%= item.nome_usuario %>
                                            </span>
                                            <section class="inputEdite">
                                                <P><b>Dados a ser alterado: </b></P>
                                                <input name="name" type="text" value="<%= item.nome_usuario %>"><BR><BR>
                                            </section>
                                        </article>

                                        <article class="flex-dadosedite">
                                            <span><b>DATA DE NASCIMENTO Usuário:</b>
                                                <%= item.data_usuario %>
                                            </span>
                                            <section class="inputEdite">
                                                <P><b>Dados a ser alterado: </b></P>
                                                <input name="nasc" type="date" value="<%= item.data_usuario %>"><BR><BR>
                                            </section>
                                        </article>

                                        <article class="flex-dadosedite">
                                            <span><b>TELEFONE Usuário:</b>
                                                <%= item.telefone_usuario %>
                                            </span>
                                            <section class="inputEdite">
                                                <P><b>Dados a ser alterado: </b></P>
                                                <input name="tel" type="text" id="tel" value="<%= item.telefone_usuario %>"><BR><BR>
                                            </section>
                                        </article>

                                        <article class="flex-dadosedite">
                                            <span><b>EMAIL Usuário:</b>
                                                <%= item.email_usuario %>
                                            </span>
                                            <section class="inputEdite">
                                                <P><b>Dados a ser alterado: </b></P>
                                                <input name="email" type="email" value="<%= item.email_usuario %>">
                                                <BR><BR>
                                            </section>

                                        </article>

                                        <!-- <article class="flex-dadosedite">
                                            <span><b>CPF Usuário:</b>
                                                <%= item.cpf_usuario %>
                                            </span>
                                            <section class="inputEdite">
                                                <P><b>Dados a ser alterado: </b></P>
                                                <input name="cpf" type="text" value="<%= item.cpf_usuario %>" id="cpf"
                                                    autocomplete="off" maxlength="14" class="cpf">
                                                <BR><BR>
                                            </section>

                                        </article> -->
                                        <!-- <article class="flex-dadosedite">
                                            <span><b>SENHA Usuário:</b>
                                                <%= item.senha_usuario %>
                                            </span>
                                            <section class="inputEdite">
                                                <P><b>Dados a ser alterado: </b></P>
                                                <input name="senha" type="senha" value="<%= item.senha_usuario %>">
                                                <BR><BR>
                                            </section>

                                        </article> -->




                                        <% if ( item.tipo_usuario=="2" ) { %>
                                            <section class="DocumentoUserEnt">

                                                <h1> DOCUMENTOS: </h1>
                                            </section>
                                            <% } %>


                                                <button class="cta editar">Alterar</button>
                                    </form>

                            </section>
                            <% }) %>

        </main>

        <script src="/JS/adm/sidebar.js"></script>
        <script src="/JS/login-cadastro/eye.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script src="/JS/login-cadastro/mascara.js"></script>
        <script src="/JS/adm/editar.js"></script>
</body>

</html>