<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - admin</title>
    <%- include('../../../partial/config/config.ejs') %>
    <%- include('../../../partial/config/config-adm.ejs') %>
    <link rel="stylesheet" href="/CSS/adm/grid.css">
    <!-- SIMPLE NOTIFY - Notificações -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/JS/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>
<body>

    <%- include('../../../partial/adm/sidebar.ejs') %>

    <!-- Notificações -->
    <% if (msgs.length > 0) { %>
        <% msgs.forEach(msg => { %>
            <script>notify('<%= msg.title %>', '<%= msg.description %>', '<%= msg.status %>')</script>
        <% }) %>
    <% } %>

    <main class="content-container">    
        
        <div class="header">
            <h1>Denúncias Pendentes</h1>
        </div>

        <div class="grid">
            <% result.forEach(item => { %>
                <div class="grid-card">
                    <h2><%= item.motivo_denuncia %></h2>
                    <p>Criada em: <%= item.data_denuncia.toLocaleDateString() %></p>
                    <p class="content"><%= item.descricao_denuncia %></p>
                    
                </div>
            <% }) %>
        </div>

        <% if(paginador){ %>

            <div class="notificador">
                <ul>
                    <% for(var i=1; i <=paginador.total_paginas; i++){ 
                        if(paginador.pagina_atual==i){ 
                    %>
                        <li><a class="atual" href="?pagina=<%= i %>">
                                <%= i %>
                            </a>
                        </li>
                        <% } else { %>
                            <li><a href="?pagina=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                        <% } 
                    } %>
                </ul>
            </div>
            
        <% } %>
    </main>
    
    <script src="/JS/adm/sidebar.js"></script>
    <script src="/JS/quotes/delete-confirm.js"></script>
</body>
</html>